<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="padding: 2%">
  <div>
    <h4>THÔNG TIN NHÓM NGƯỜI DÙNG</h4>
    <div style="margin:2%">
      <div class="row">
        <div class="col-25">
          <label for="hoten">Tên nhóm*</label>
        </div>
        <div class="col-75">
          <input id="hoten" fieldSize="medium">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="gt">Thời gian hiệu lực</label>
        </div>
        <div class="col-75">
          <input fieldSize="medium" [nbDatepicker]="formcontrol" [formControl]="formControl">
          <nb-datepicker #formcontrol id="datepicker" format="dd\MM\yyyy" name="date1"></nb-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="gt">Thời gian hết hiệu lực</label>
        </div>
        <div class="col-75">
          <input fieldSize="medium" [nbDatepicker]="ngmodel" [(ngModel)]="ngModelDate">
          <nb-datepicker #ngmodel id="datepicker2" format="dd\MM\yyyy" name="date2"></nb-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="gt">Tạm ngưng</label>
        </div>
        <div class="col-75">
          <div class="checkbox">
            <nb-checkbox></nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="gt">Ghi chú</label>
        </div>
        <div class="col-75">
          <textarea placeholder="Nhập ghi chú"></textarea>
        </div>
      </div>
      <br>
      <button class="btn-save">Lưu</button>
      <br>
    </div>
    <div style="margin-top:5%">
      <hr>
      <h4>Danh sách người dùng trong nhóm</h4>
      <br>
      <div class="row">
        <span class="col-md-2 text-1">Người dùng: </span>
      </div>
      <br>
      <div class="row">
        <select>
          <option disabled="disabled">TÊN NHÓM</option>
          <option value="0">Ban giám đốc</option>
          <option value="1">Bác sĩ ngoại trú</option>
          <option value="2">Thu ngân ngoại trú</option>
        </select>
        <select>
          <option disabled="disabled">TRẠNG THÁI</option>
          <option value="0">Đang sử dụng</option>
          <option value="1">Tạm ngưng</option>
        </select>
        <input #search type="text" size="71" placeholder="Tìm kiếm..." name="search"
          (keydown.enter)="onSearch(search.value)" class="input-search">
      </div>
      <br>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
      <a>Hiển thị 11 trên 13 hồ sơ</a>
      <br>
      <button (click)="chinhsuanguoidung()" class="btn-setting">Chỉnh sửa</button>
    </div>
  </div>
</div>