.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
input{
    width: 100%;
    padding-right: 5px;
    border-width: 1px;
  
}
label, span {
    font-size: 16px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    border: none;
    color: #2a2a2a;
}

.checkbox{
    padding-top: 8px;
}
textarea{
    width: 100%;
    padding: 16px 20px;
    border-radius: 0.375rem;
    border: 2px solid #dadfe6;
    outline-width: 0.375rem;
    background-color: #FFFFFF;
    padding:0.75rem 1.125rem;
    font-size: 1rem;
    outline-color:  #e4e9f2;
}
button {
  text-transform: inherit;
  background: #72acff;
  color: #ffffff;
}
.btn1 {
  text-transform: inherit;
  background: #72acff;
  color: #ffffff;
}
.btn1:hover {
  color: #72acff;
  background: #ffffff;
  border: 2px solid;
}
nb-card {
  padding: 4%;
}
nb-card-body{
  padding: 4%;
}
select{
  padding: 1%  1% 1% 1%;
  border:2px solid #dadfe6;
  width: 13%;
  margin-left: 1.5% ;
  border-radius: 0.375rem;
}
select:hover{
  background: #72acff;
  color: #ffffff;
}
option{
  background: #ffffff;
  color: #2a2a2a;

}
input{
  border: #e4e9f2 2px solid;
  border-radius: 0.25rem;
  padding: 0.4375rem 1.125rem;
}
.btn-save{
  background: #72acff;
  color: #ffffff;
  float: right;
  width: 150px;
  font: 20px;
  border:2px solid #72acff;
  margin-right: 5px;
  padding: 0.625rem 1.125rem;
  border-radius: 0.375rem;
  
}
.btn-save:hover {
  color: #72acff;
  background: #ffffff;
  border-color: #72acff;
}
.btn-setting{
  background: #72acff;
  color: #ffffff;
  float: right;
  width: 150px;
  font: 20px;
  border:2px solid #72acff;
  margin-right: 5px;
  padding: 0.625rem 1.125rem;
  border-radius: 0.375rem;
  
}
.btn-setting:hover {
  color: #72acff;
  background: #ffffff;
  border-color: #72acff;
}
.input-search{
  margin-left:2%;
  width: 68%; 
  max-width: 100%;
}
.text-1{
  font-size:110%;
  font-weight: bold;
  padding: 1% 1% 1% 2%;
}