input{
    border-width: 1px;
  
}
.btn-them {
  float: right;
  background: #ffffff;
  color: #72acff;
  font-weight:bold;
  padding: 0.625rem 1.125rem;
  border:2px solid #72acff;
  border-radius: 0.375rem;
}
.btn-them:hover {
  background: #72acff;
  color: #ffffff;
}
.input-search{
  padding-left: 2%;
  width: 65%;
  max-width: 100%;
  border-radius: 5px;
  border: #dadfe6 2px solid;
  background: #ffffff;
  margin-left: 1%;
}
  .btnQuayLai  {
    float: right;
    background: #ffffff;
    color: #72acff;
    border-color: #72acff;
    border:2px solid #72acff;
    float: right;
    border-radius: 0.375rem;
    width: 150px;
    font: 20px;
    font-weight:bold;
    margin-right: 5px;
    padding: 0.625rem 1.125rem;
   
  }
  .btnQuayLai:hover {
    background: #72acff;
    color: #ffffff;
    border:2px solid #72acff;
    
  }
  .btnLuu{
    background: #72acff;
    color: #ffffff;
    float: right;
    width: 150px;
    font: 20px;
    font-weight:bold;
    border:2px solid #72acff;
    margin-right: 5px;
    padding: 0.625rem 1.125rem;
    border-radius: 0.375rem;
    
  }
  .btnLuu:hover {
    color: #72acff;
    background: #ffffff;
    border-color: #72acff;
  }

  select{
    padding: 1%  1% 1% 1%;
    border:2px solid #dadfe6;
    width: 13%;
    margin-left: 1.5% ;
    border-radius: 0.375rem;
    width: 16%;margin-left: 0.5%
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  .margin-left-0{
    margin-left: 0px;
  }