<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
  <div class="col-10">
    <h4 >DANH SÁCH NHÓM NGƯỜI DÙNG</h4>
  </div>
  <div class="col-2">
    <button (click)="themnhomnguoidung()" class="btn-them">+ Thêm mới</button>
  </div>
</div>
<br>
<div class="row margin-left-0">
  <select>
    <option disabled="disabled">TÊN NHÓM</option>
    <option value="0">Ban giám đốc</option>
    <option value="1">Bác sĩ ngoại trú</option>
    <option value="2">Thu ngân ngoại trú</option>
  </select>
  <select>
    <option disabled="disabled">TRẠNG THÁI</option>
    <option value="0">Đang sử dụng</option>
    <option value="1">Tạm ngưng</option>
  </select>
  <input #search type="text" size="71"  placeholder="Tìm kiếm..." name="search"
    (keydown.enter)="onSearch(search.value)" class="input-search">
</div>
<br>
<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"(edit)="chinhsua($event)">
</ng2-smart-table>
<a>Hiển thị 11 trên 13 hồ sơ</a>
<div style="margin: 2%">
  <button class="btnLuu" >Lưu</button>
  <button  class="btnQuayLai" >Quay lại</button>
</div>
<style>
 
</style>