.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 0.625rem 1.125rem;
    font-size: 13px;
    cursor: pointer;
    margin: 1px;
  }
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(color-bg-active);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }
  
  .div-center{
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  i{
      font-size: 25px;
  }
  .btn:hover {
    background: #72acf7
  }
  .input-1{
    width: 50px
  }
  .div-1{
    margin-top:-3%
  }
  .input-2{
    background: #ffffff;border:1px solid gray
  }
  .i-1{
    font-size: 120%
  }
  .sub-side-menu {
    
    ::ng-deep .main-container {
      top: initial !important;
    }
  }
  .border-w-bottom{
    border: 0.01px solid #e4e9f2 ;
    border-width:0px 0px 1px 0px ; 
    padding-bottom: 4%;
  }