<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nb-layout>
  <nb-layout-header>
    <h4>HỒ SƠ BỆNH ÁN</h4>
  </nb-layout-header>
  <nb-layout-header subheader>
    <div>
      <button class="btn" (click)="toggleCollapse()"><i class="ms-Icon ms-Icon--DockLeft"></i></button>
    </div>
    <div class="div-center">
      <button (click)="incrementPage(1)" class="btn"><i class="ms-Icon ms-Icon--Movers"></i></button>
      <button (click)="incrementPage(-1)" class="btn"><i class="ms-Icon ms-Icon--Sell"></i></button>
      <input class="input-1" type="number" placeholder="Trang" [(ngModel)]="page" pattern="-?[0-9]*(\.[0-9]+)?">
      <button (click)="incrementZoom(0.1)" class="btn"><i class="ms-Icon ms-Icon--CirclePlus"></i></button>
      <button (click)="incrementZoom(-0.1)" class="btn"><i class="ms-Icon ms-Icon--Blocked2"></i></button>
      <input class="input-1" type="number" placeholder="Zoom" [(ngModel)]="zoom" pattern="-?[0-9]*(\.[0-9]+)?">
    </div>
    <div>
      <button class="btn "><i class="ms-Icon ms-Icon--Download"></i> Tải xuống</button>
    </div>
  </nb-layout-header>
  <nb-sidebar tag="left" class="sub-side-menu border-w-bottom">
    <div class="border-w-bottom">
      <button class="btn button-1"><i class="ms-Icon ms-Icon--ViewAll"></i></button>
      <button class="btn button-1"><i class="ms-Icon ms-Icon--BulletedList"></i></button>
    </div>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <nb-card>
      <input disabled type="text" placeholder="PDF src" class="input-2" [(ngModel)]="pdfSrc">
      <pdf-viewer [src]="pdfSrc" [(page)]="page" [zoom]="zoom" [stick-to-page]="stickToPage" [show-all]="showAll">
      </pdf-viewer>
    </nb-card>
  </nb-layout-column>
</nb-layout>