.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
input{
    width: 100%;
    padding-right: 5px;
    border-width: 1px;
  
}
label {
    font-size: 16px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    border: none;
}
.checkbox{
    padding-top: 8px;
}
.btn1 {
  float: right;
  background: #72acff;
  color: #ffffff;
  text-transform: initial;
}

.btn1:hover {
  background: #ffffff;
  color: #72acff;
  border: 2px solid;
}

.btn2 {
  float: right;
  background: #ffffff;
  color: #72acff;
  text-transform: initial;
  border: 2px solid;
}

.btn2:hover {
  background: #72acff;
  color: #ffffff;

}
span {
  font-weight: bold;
}
label{
font-weight: bold;
}
label, span {
font-size: 16px;
padding: 12px 12px 12px 0;
display: inline-block;
border: none;
color: #2a2a2a;
}
input{
  border: #e4e9f2 2px solid;
  border-radius: 0.25rem;
  padding: 0.4375rem 1.125rem;
}
.btn-save{
  background: #72acff;
  color: #ffffff;
  float: right;
  width: 150px;
  font: 20px;
  border:2px solid #72acff;
  margin-right: 5px;
  padding: 0.625rem 1.125rem;
  border-radius: 0.375rem;
  
}
.btn-save:hover {
  color: #72acff;
  background: #ffffff;
  border-color: #72acff;
}
.btn-cancle{
  
  float: right;
  width: 150px;
  color: #72acff;
  background: #ffffff;
  font: 20px;
  border:2px solid #72acff;
  margin-right: 5px;
  padding: 0.625rem 1.125rem;
  border-radius: 0.375rem;
  
}
.btn-cancle:hover {
 
  border-color: #72acff;
  background: #72acff;
  color: #ffffff;
  border:2px solid #72acff;
}
.form-1{
  padding: 2%;
  padding-left: 5%;
}

.font-w-bold{
  font-weight: bold;
}