<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="padding: 2%">
  <h4>Thông tin người dùng</h4>
  <br>
  <div class="row" style="padding-left: 3%">
    <label class="col-3 font-w-bold">Thay đổi mật khẩu</label>
    <label class="col-7 font-weight-normal">Thay đổi hoặc đặt lại mật khẩu của bạn</label>
  </div>
  <div class="form-1">
    <form name="myForm">
      <div class="row">
        <div class="col-25">
          <label for="hoten">Mật khẩu hiện tại:</label>
        </div>
        <div class="col-75">
          <input id="hoten" name="myInput" type="password" placeholder="Nhập mật khẩu hiện tại..." fieldSize="medium"
            ng-model="matkhau">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="hoten">Mật khẩu mới:</label>
        </div>
        <div class="col-75">
          <input id="hoten" type="password" placeholder="Nhập mật khẩu mới..." fieldSize="medium">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="hoten">Nhập lại mật khẩu mới:</label>
        </div>
        <div class="col-75">
          <input id="hoten" type="password" placeholder="Nhập lại mật khẩu mới..." fieldSize="medium">
        </div>
      </div>
    </form>
  </div>
  <div>
    <button type="submit" ng-required="matkhau" class="btn-save">Lưu
      thay đổi</button>
    <button class="btn-cancle">Hủy</button>
  </div>
</div>