    <h4>Danh sách người dùng trong nhóm</h4>
    <br>
    <span class="font-w-bold"> Người dùng: </span>
    <br/>
<br>
<div class="row margin-left-0">
  <select>
    <option disabled="disabled">TÊN NHÓM</option>
    <option value="0">Ban giám đốc</option>
    <option value="1">Bác sĩ ngoại trú</option>
    <option value="2">Thu ngân ngoại trú</option>
  </select>
  <select>
    <option disabled="disabled">TRẠNG THÁI</option>
    <option value="0">Đang sử dụng</option>
    <option value="1">Tạm ngưng</option>
  </select>
  <input #search type="text" size="71"  placeholder="Tìm kiếm..." name="search"
    (keydown.enter)="onSearch(search.value)" class="input-search">
</div>

<div style="padding-top: 2%">
  <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
    (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
    <a>Hiển thị 11 trên 13 hồ sơ</a>
</div>
<div>
  <button  ng-required="matkhau" class="btnLuu"
   >Lưu</button>
  <button class="btnQuayLai" >Quay lại</button>
</div>

