<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h4 style="text-align: center">TÓM TẮT HỒ SƠ</h4>
            </nb-card-header>
            <nb-card-body>
                <div>
                    <label class="font-w-bold">1. Họ và tên</label>
                    <label class="margin2">Trần An</label>
                    <label class="font-w-bold margin1">2.Năm sinh:</label>
                    <label class="margin2">1991</label>
                </div>
                <br>
                <div>
                    <label class="font-w-bold">3. Giới tính:</label>
                    <label class="margin2">Nam</label>
                    <label class="font-w-bold margin1">4.Dân tộc:</label>
                    <label class="margin2">Kinh</label>
                </div>
                <br>
                <div>
                    <label class="font-w-bold">4. Mã số BHYT/ Thẻ BHYT số:</label>
                    <label class="margin2">DNKDFNJSDFSDFSKDJFKDJF</label>
                </div>
                <br>
                <div>
                    <label class="font-w-bold">5. Cơ quan/ Đơn vị công tác:</label>
                    <label class="margin2">FPT information</label>
                </div>
                <br>
                <div>
                    <label class="font-w-bold">6. Địa chỉ: </label>
                    <label class="margin2">Lô B1, đường Sáng Tạo</label>
                    <label class=" margin1">Xã, phường, thị trấn:</label>
                    <label class="margin2">Tân Thuận Đông</label>
                    <div>
                        <label>Huyện(Quận):</label>
                        <label class="margin2">7</label>
                        <label class=" margin1">Tỉnh, thành phố:</label>
                        <label class="margin2">Hồ Chí Minh</label>
                    </div>
                </div>
                <br>
                <div>
                    <label class="font-w-bold ">9. Vào viện</label> ngày:
                    <label class="margin2">25/06/2019</label>
                    <label class="font-w-bold margin1">Ra viện</label> ngày:
                    <label class="margin2">25/06/2020</label>
                </div>
                <br>
                <div>
                    <label class="font-w-bold ">10. Chẩn đoán lúc vào viện:</label>
                </div>
                <div class="margin3">
                    <label>-Da:Mụn mủ ra toàn thânh</label>
                </div>
                <div class="margin3">
                    <label>-Không có tổn thương trong khớp</label>
                </div>
                <br>
                <div>
                    <label class="font-w-bold ">11. Chẩn đoán lúc ra viện</label> ngày:
                    <div>
                        <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                    </div>
                    <div>
                        <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                    </div>
                    <br>
                    <div>
                        <label class="">a) Quá trình bệnh lý và diễn biến lâm sàn:</label>
                        <div>
                            <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                        </div>
                        <div>
                            <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                        </div>
                    </div>
                    <br>
                    <div>
                        <label class="">b) Tóm tắt kết quả xét nghiệm cận lâm sàng có giá trị chẩn đoán:</label>
                        <div>
                            <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                        </div>
                        <div>
                            <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                        </div>
                    </div>
                    <br>
                    <div>
                        <label class="">c) Phương pháp điều trị:</label>
                        <div>
                            <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                        </div>
                        <div>
                            <label class="margin3 ">-Bệnh nhân nữ, tiền sử khỏa mạnh</label> ngày:
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <label class="font-w-bold ">13. Ghi chú:</label>
                </div>
                <button  class="padding btnIn"> In </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>