.margin2{
    margin-left:1%; 
}
.margin1{
    margin-left: 5%;
}
.margin3{
    margin-left:16px 
}
.btnIn{
    width: 15%;
    margin-top:2% ;
    margin-right:5%;
    float: right; 
    background:#f84006;
    border: 2px solid #f84006;
    padding: 1% 1% 1% 1%;
    border-radius:5px; 
    color: #ffffff;
    font-weight: bold;
}
.btnIn:hover{
    background:#ffffff;
    color: #f84006;
    
}
label,h1,h2,h3,h4,h5,h6,a,span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-w-bold{
    font-weight: bold;
}