<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="padding-2">
  <div>
    <h4>THÔNG TIN NGƯỜI DÙNG</h4>
  </div>
  <br>
  <div class="padding-2">
    <div class="row">
      <div class="div-padding">
        <div class="row">
          <div class="col-3">
            <label for="hoten">Họ và tên</label>
          </div>
          <div class="col-9">
            <input id="hoten" fieldSize="medium">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="gt">Giới tính</label>
          </div>
          <div class="col-8 row div-margin">
            <nb-radio-group>
              <nb-radio> Nam</nb-radio>
            </nb-radio-group>
            <nb-radio-group>
              <nb-radio> Nữ</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="gt">Ngày sinh</label>
          </div>
          <div class="col-9">
            <input fieldSize="medium" [nbDatepicker]="datepicker">
            <nb-datepicker #datepicker format="dd\MM\yyyy"></nb-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="gt">Số điện thoại</label>
          </div>
          <div class="col-9">
            <input id="gt" fieldSize="medium">
          </div>
        </div>
      </div>
      <div class="container col-2 div-3">
        <img src="./assets/images/img_avatar2.png" alt="Avatar" class="image">
        <div class="overlay">
          <a href="#" class="icon" title="User Profile">
            <i class="fa fa-user"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="gt">Email</label>
      </div>
      <div class="col-10 div-4">
        <input id="gt" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="gt">Chức danh</label>
      </div>
      <div class="col-10 div-4">
        <input id="gt" fieldSize="medium">
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label for="gt">Tên đăng nhập</label>
      </div>
      <div class="col-10 div-4">
        <input fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="gt">Mật khẩu</label>
      </div>
      <div class="row div-5">
        <input type="password" class="matkhau input-1 col-md-9" id="gt">
        <button class="btn1 col-md-3" (click)="openWindow(dialog)">Cấp lại mật khẩu</button>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="gt">Nhóm người dùng</label>
      </div>
      <div class="row form-select">
        <form>
          <select id="country" name="country">
            <option disabled="disabled">NHÓM NGƯỜI DÙNG</option>
            <option value="au">Australia</option>
            <option value="ca">Canada</option>
            <option value="usa">USA</option>
          </select>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="gt">Gửi thông báo người dùng</label>
      </div>
      <div class="col-7 div-6">
        <div class="checkbox">
          <nb-checkbox>Gửi email thông báo tài khoản cho người dùng</nb-checkbox>
        </div>
      </div>
    </div>
    <button class="btn-save">Lưu</button>
  </div>
</div>
<ng-template #dialog let-data>
  <div class="form-pass-new">
    <div class="row">
      <div class="col-3">
        <label for="gt">Mật khẩu mới:</label>
      </div>
      <div class="col-7">
        <div class="padding-top-2">
          <nb-radio (valueChange)="onchange($event)" value="1">Hệ thống tự sinh</nb-radio>
          <div class="row margin-l-0">
            <nb-radio (valueChange)="onchange($event)" value="2">Tùy chỉnh</nb-radio>
            <input *ngIf="show" class="input-pass" fieldSize="small" nbInput placeholder="Nhập mật khẩu mới">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label for="gt">Gửi thông báo:</label>
      </div>
      <div class="col-7">
        <div class="checkbox">
          <nb-checkbox>Gửi email thông báo mật khẩu mới cho người dùng</nb-checkbox>
        </div>
      </div>
    </div>
  </div>
  <button class="btn2">Cấp lại mật khẩu</button>
</ng-template>