.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

    
.btn-center {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 20px;
}
input{
    width: 100%;
    padding-right: 5px;
    border: 1px solid #dadfe6;
  
}
label {
    font-size: 16px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    border: none;
}
.checkbox{
    padding-top: 8px;
}
.container {
  margin: 0%;
  position: relative;
  width: 30%;height: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  
}

.image {
  
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 5.8%;
  right: 0;
  padding:25%;
  height: 90%;
  width: 89%;
  opacity: 0;
  transition: .3s ease;
  background-color: #52e5ba;
  border-radius: 50%;
  margin: 0%;
}

.container:hover .overlay {
  opacity: 1
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 0%;
}

.fa-user:hover {
  color: #eee;
}
.btn2{
  text-transform: inherit;
  background: #72acff;
  padding: 2% 2% 2% 2%;
  color: #ffffff;
  border:2px solid #72acff;
  border-radius: 0.375rem;
  float: right; 

}
.btn2:hover{
  color: #72acff;
  background: #ffffff;
}
    .btn1{
      text-transform: inherit;
      background: #72acff;
      color: #ffffff;
      border:2px solid #72acff;
      border-radius: 0.375rem;

    }
    .btn1:hover{
      color: #72acff;
      background: #ffffff;
    }
    label, span {
      font-size: 16px;
      padding: 12px 12px 12px 0;
      display: inline-block;
      border: none;
      color: #2a2a2a;
  }

  select{
    padding: 0.4375rem 1.125rem;
    border:2px solid #dadfe6;
    width: max-content;
    margin-left: 1.5% ;
    border-radius: 0.375rem;
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  .padding-2{
    padding: 2%;
  }
  .div-padding{
    width:70% ;
    padding-left:1.2%
  }
  .div-margin{
    margin-left:1%
  }
  .div-3{
    padding:1%;
    margin-right:10%;
    width:250%
  }
  .div-4{
    padding-left:2.3%
  }
  .div-5{
    margin: 0.5% 0.5% 1% 2.2%;
    width:80%;
  }
  .input-1{
    width: 79%;
  }
  .div-6{
    margin: 0.5% 0.5% 1% 0.8%;
  }
  .div-7{
    width: 105%;height: 100%;padding: 2%
  }
  .input-1{
    width: 40%
  }
  input{
    border: #e4e9f2 2px solid;
    border-radius: 0.25rem;
    padding: 0.4375rem 1.125rem;
  }
  .btn-save{
    background: #72acff;
    color: #ffffff;
    float: right;
    width: 150px;
    font: 20px;
    border:2px solid #72acff;
    margin-right: 5px;
    padding: 0.625rem 1.125rem;
    border-radius: 0.375rem;
    
  }
  .btn-save:hover {
    color: #72acff;
    background: #ffffff;
    border-color: #72acff;
  }
  .form-select{
    margin: 2%;
  }
  .form-pass-new{
    width: 105%;
    height: 100%;
    padding: 2%;
  }
  .input-pass{
    width: 40%;
  }
  .margin-l-0{
    margin-left: 0%;
  }
  .padding-top-2{
    padding-top: 2%;
  }