.header-card{
  font-size: smaller;
  text-align: center;
  font-weight: bold;
}
.border-header{
  border-block-end: 1px solid;
  border-block-end-color: #CBD0D3;
  padding-top: 4px
}
.second-header-card{
  font-size: smaller;
}
.body-footer{
  font-size: smaller;
  font-weight: bold;
}
.green{
  font-size: small;
  color: #2ba433;
  font-weight: bold;
  padding-left: 10px
}
.red{
  font-size: small;
  color: #E52F2F;
  font-weight: bold;
  padding-left: 10px
}
.blue{
  font-size: small;
  color: #2c89e6;
  font-weight: bold;
  padding-left: 10px
}
.red-bottom{
  text-align: center;
  color: #E52F2F;
  font-weight: bold;
  width: 100%;
}
.blue-bottom{
  font-size: large;
  text-align: center;
  font-weight: bold;
  color:#72acff;
  margin: auto;
  width: 100%;
}
.footer-card{
  font-size: small;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px
}
.footer-time{
  font-size: small;
  color: #343638;
  padding-left: 5px;
  font-style: italic;
}
h4{
  text-align: center;
  font-weight: bold;
}
label{
  font-size: smaller;
}
.card-body{
  margin: 10px;
  border: 1px solid;
  border-color: #CBD0D3
}
.search{
  height: 90%;
  width: 70%;
  color: #A6ADB4;
  border-radius: 5px;
  border: 2px solid;
  border-color: #CBD0D3;
  margin: auto;
  margin-left:10px;
  padding-left: 5px;
  max-width: 25%
}
img{
  margin: -10px 5px 0 -10px;
  width: 50px;
  height:50px;
}
.col1{
  padding-left: 10px;
  padding-right: 10px
}
.col4{
  padding-left: 30px;
  padding-right: 30px
}
nb-select{
  background-color: #ffffff;
  color: #343638;
  width: 24%;
  margin: 0 5px
}
.card-top{
  margin: 5px auto;
  width: 80%;
}

h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.table-top{
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
}
.border-left{
  border-left: 1.5px solid;
}
.table-item{
  border-right: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
}
.table-header{
  padding: 10px 0px 5px 0px;
  background-color: #CBD0D3;
}
.table-title{
  color: #343638;
  font-weight: bold;
}
.table-label{
  color: #343638;
  padding-top: 5px
}
.card-name{
  padding-left: 20px;
  color: #343638; 
  font-weight: bold;
}
.text-head{
  padding-left: 5px;
  color: #343638; 
  font-size: larger;
}