<label class="text-head" >HOẠT ĐỘNG GẦN ĐÂY</label>
<br />
<!-- phieu yeu cau da tao -->
<div class="row">
  <div class="col-md-12">
    <br />
    <div class="row">
      <label class="card-name">Phiếu yêu cầu đã tạo</label><label
        style="padding-left: 5px" class="blue">Xem tất cả</label>
    </div>
    <div style="padding-left: 20px" class="row">
      <div style="border-left: 1px solid" class="col-lg-8">
        <div class="row">
          <div class="table-top table-header col-lg-1">
            <label class="table-title">STT</label>
          </div>
          <div class="table-top table-header col-lg-3">
            <label class="table-title">Mã phiếu</label>
          </div>
          <div class="table-top table-header col-lg-3">
            <label class="table-title">Yêu cầu</label>
          </div>
          <div class="table-top table-header col-lg-3">
            <label class="table-title">Thời gian tạo</label>
          </div>
        </div>
        <div class="row" *ngFor="let item of phieuyeucautao">
          <div class="table-item border-left col-lg-1">
            <label class="table-label">{{item.stt}}</label>
          </div>
          <div class="table-item col-lg-3">
            <label class="table-label">{{item.code}}</label>
          </div>
          <div class="table-item col-lg-3">
            <label class="table-label">{{item.request}}</label>
          </div>
          <div class="table-item col-lg-3">
            <label class="table-label">{{item.time}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- phieu yeu cau da duyet -->
<div class="row">
  <div class="col-md-12">
    <br />
    <div class="row">
      <label class="card-name">Phiếu yêu cầu đã duyệt</label><label
        style="padding-left: 5px" class="blue">Xem tất cả</label>
    </div>
    <div style="padding-left: 20px" class="row">
      <div style="border-left: 1px solid" class="col-lg-10">
        <div class="row">
          <div class="table-top table-header col-lg-1">
            <label class="table-title">STT</label>
          </div>
          <div class="table-top table-header col-lg-2">
            <label class="table-title">Mã phiếu</label>
          </div>
          <div class="table-top table-header col-lg-2">
            <label class="table-title">Thời gian tạo</label>
          </div>
          <div class="table-top table-header col-lg-3">
            <label class="table-title">Người yêu cầu</label>
          </div>
          <div class="table-top table-header col-lg-2">
            <label class="table-title">Loại yêu cầu</label>
          </div>
          <div class="table-top table-header col-lg-2">
            <label class="table-title">Thời gian yêu cầu</label>
          </div>
        </div>
        <div class="row" *ngFor="let items of phieuyeucauduyet">
          <div class="table-item border-left col-lg-1">
            <label class="table-label">{{items.stt}}</label>
          </div>
          <div class="table-item col-lg-2">
            <label class="table-label">{{items.Code}}</label>
          </div>
          <div class="table-item col-lg-2">
            <label class="table-label">{{items.time}}</label>
          </div>
          <div class="table-item col-lg-3">
            <label class="table-label">{{items.user}}</label>
          </div>
          <div class="table-item col-lg-2">
            <label class="table-label">{{items.request}}</label>
          </div>
          <div class="table-item col-lg-2">
            <label class="table-label">{{items.timerequest}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br />
    <div class="row">
      <label class="card-name">Hồ sơ bệnh án đã xem</label><label
        style="padding-left: 5px" class="blue">Xem tất cả</label>
    </div>
    <div style="padding-left: 5px" class="row">
      <div class="col-md-3 col1">
        <nb-card>
          <nb-card-body class="card-body">
            <div class="row">
              <div class="col-md-2">
                <img src="../assets/logo/logo-card.jpg" alt="">
              </div>
              <div class="col-md-10 header-card">
                <div class="">
                  Sở y tế Thành phố Hồ Chí Minh
                </div>
                <div class="">
                  Bệnh viện Đa Khoa FPT
                </div>
                <div style="margin: 0 30px" class="border-header text-center"></div>
              </div>
            </div>
            <div style="padding-top: 10px" class="row">
              <div style="margin-left:-5px" class="col-md-4">
                <div class="second-header-card">
                  Số lưu trữ
                </div>
                <div class="second-header-card">
                  NT.00001
                </div>
              </div>
              <div class="col-md-8 text-center">
                <div class="second-header-card">
                  Mã BN: 1900003521
                </div>
                <div class="second-header-card">
                  Mã bệnh án: 19.000014
                </div>
              </div>
            </div>
            <div>
              <br />
              <br />
              <h4>BỆNH ÁN</h4>
              <h4>UNG BƯỚU</h4>
              <br />
              <br />
            </div>
            <div style="margin: 0 0 -10px -5px">
              <div class="body-footer">
                Ngày vào viện:<label>03/05/2019</label>
              </div>
              <div class="body-footer">
                Ngày ra viện:<label>13/06/2019</label>
              </div>
            </div>
          </nb-card-body>
          <div>
            <div class="red">Chưa lập tóm tắt</div>
            <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass" aria-hidden="true"></i></span><label class="footer-time"  >25/5/2019 18:11:02</label></div>
            <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
          </div>
        </nb-card>
      </div>
      <div class="col-md-3 col1">
        <nb-card>
          <nb-card-body class="card-body">
            <div class="row">
              <div class="col-md-2">
                <img src="../assets/logo/logo-card.jpg" alt="">
              </div>
              <div class="col-md-10 header-card">
                <div class="">
                  Sở y tế Thành phố Hồ Chí Minh
                </div>
                <div class="">
                  Bệnh viện Đa Khoa FPT
                </div>
                <div style="margin: 0 30px" class="border-header text-center"></div>
              </div>
            </div>
            <div style="padding-top: 10px" class="row">
              <div style="margin-left:-5px" class="col-md-4">
                <div class="second-header-card">
                  Số lưu trữ
                </div>
                <div class="second-header-card">
                  NT.00001
                </div>
              </div>
              <div class="col-md-8 text-center">
                <div class="second-header-card">
                  Mã BN: 1900003521
                </div>
                <div class="second-header-card">
                  Mã bệnh án: 19.000014
                </div>
              </div>
            </div>
            <div>
              <br />
              <br />
              <h4>BỆNH ÁN</h4>
              <h4>NHI KHOA</h4>
              <br />
              <br />
            </div>
            <div style="margin: 0 0 -10px -5px">
              <div class="body-footer">
                Ngày vào viện:<label>03/05/2019</label>
              </div>
              <div class="body-footer">
                Ngày ra viện:<label>13/06/2019</label>
              </div>
            </div>
          </nb-card-body>
          <div>
            <div class="red">Chưa lập tóm tắt</div>
            <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass" aria-hidden="true"></i></span>                   <label class="footer-time" >25/5/2019 18:11:02</label></div>
            <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
          </div>
        </nb-card>
      </div>
      <div class="col-md-3 col1">
        <nb-card>
          <nb-card-body class="card-body">
            <div class="row">
              <div class="col-md-2">
                <img src="../assets/logo/logo-card.jpg" alt="">
              </div>
              <div class="col-md-10 header-card">
                <div class="">
                  Sở y tế Thành phố Hồ Chí Minh
                </div>
                <div class="">
                  Bệnh viện Đa Khoa FPT
                </div>
                <div style="margin: 0 30px" class="border-header text-center"></div>
              </div>
            </div>
            <div style="padding-top: 10px" class="row">
              <div style="margin-left:-5px" class="col-md-4">
                <div class="second-header-card">
                  Số lưu trữ
                </div>
                <div class="second-header-card">
                  NT.00001
                </div>
              </div>
              <div class="col-md-8 text-center">
                <div class="second-header-card">
                  Mã BN: 1900003521
                </div>
                <div class="second-header-card">
                  Mã bệnh án: 19.000014
                </div>
              </div>
            </div>
            <div>
              <br />
              <br />
              <h4>BỆNH ÁN</h4>
              <h4>BỎNG</h4>
              <br />
              <br />
            </div>
            <div style="margin: 0 0 -10px -5px">
              <div class="body-footer">
                Ngày vào viện:<label>03/05/2019</label>
              </div>
              <div class="body-footer">
                Ngày ra viện:<label>13/06/2019</label>
              </div>
            </div>
          </nb-card-body>
          <div>
            <div class="red">Chưa lập tóm tắt</div>
            <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass" aria-hidden="true"></i></span>                   <label class="footer-time" >25/5/2019 18:11:02</label></div>
            <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
          </div>
        </nb-card>
      </div>
      <div class="col-md-3 col1">
        <nb-card>
          <nb-card-body class="card-body">
            <div class="row">
              <div class="col-md-2">
                <img src="../assets/logo/logo-card.jpg" alt="">
              </div>
              <div class="col-md-10 header-card">
                <div class="">
                  Sở y tế Thành phố Hồ Chí Minh
                </div>
                <div class="">
                  Bệnh viện Đa Khoa FPT
                </div>
                <div style="margin: 0 30px" class="border-header text-center"></div>
              </div>
            </div>
            <div style="padding-top: 10px" class="row">
              <div style="margin-left:-5px" class="col-md-4">
                <div class="second-header-card">
                  Số lưu trữ
                </div>
                <div class="second-header-card">
                  NT.00001
                </div>
              </div>
              <div class="col-md-8 text-center">
                <div class="second-header-card">
                  Mã BN: 1900003521
                </div>
                <div class="second-header-card">
                  Mã bệnh án: 19.000014
                </div>
              </div>
            </div>
            <div>
              <br />
              <br />
              <h4>BỆNH ÁN</h4>
              <h4>DA LIỄU</h4>
              <br />
              <br />
            </div>
            <div style="margin: 0 0 -10px -5px">
              <div class="body-footer">
                Ngày vào viện:<label>03/05/2019</label>
              </div>
              <div class="body-footer">
                Ngày ra viện:<label>13/06/2019</label>
              </div>
            </div>
          </nb-card-body>
          <div>
            <div class="red">Chưa lập tóm tắt</div>
            <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass" aria-hidden="true"></i></span>                   <label class="footer-time" >25/5/2019 18:11:02</label></div>
            <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
          </div>
        </nb-card>
      </div>
    </div>
  </div>
</div>

