@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card-body {
    overflow: visible;
  }
  .btn-login{
    width: 36%;
    margin:5% auto;
    margin-left: 34%;
    background-color:#72acfe;
    text-transform: capitalize;
    border: 2px solid #72acfe;
    padding:2% 4% 2% 4%; 
  }
  .btn-login:hover{
    color:#72acfe;
    background-color:#ffffff;
  }
  .input-group {
    margin-bottom: 1rem;
  }

  .validation-checkboxes {
    display: flex;
    justify-content: space-between;

    .custom-control {
      margin-left: 1rem;
    }
  }

  .demo-checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-disabled-checkbox-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-checkboxes-radio {
    display: flex;
    justify-content: space-between;
  }

  .demo-rating {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .star {
    font-size: 1.5rem;
    color: nb-theme(color-fg);
  }

  .filled {
    color: nb-theme(color-fg);
  }

  // TODO: Replace with the card header styles mixin
  .rating-header {
    line-height: 2rem;
    font-size: 1.25rem;
    font-family: nb-theme(font-secondary);
    font-weight: nb-theme(font-weight-bolder);
    color: nb-theme(color-fg-heading);
  }

  .current-rate {
    font-size: 1.5rem;
    @include nb-ltr(padding-left, 1rem);
    @include nb-rtl(padding-right, 1rem);
    color: nb-theme(color-fg-heading);
  }

  .full-name-inputs {
    display: flex;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {

      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  .dropdown {
    min-width: 7rem;
  }

  .dropdown-menu {
    width: auto;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  ngb-rating {
    outline: none;
  }

  ngb-rating i {
    color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      color: nb-theme(color-primary);
    }
  }

  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }
}
.icon-input{
  text-align: center;
  margin-top:2%;
  margin-left:2%  ;
}
.icon{
  text-align:center;
  font-size: 150%;
  color:#72acfe;
  font-weight: bold;

}
.img{
  max-width: 100%;
  min-width: 50%;
  height: auto; 
  margin-bottom:6%
}
.input-group{
  width: 80%;
  margin-left:12% ;
}
.input{
  background-color: white;
  color: #72acfe;
  padding-left:2% 
}
input:select  {
  border: #ffffff;
}
.color-gradient{
  background:#72acfe;
}
.card{
  height: 90vh;
  width: 100vw;
}
.border-0{
border-width:0px 0px 0px 0px;
}
.borderbottom{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color:#72acfe; 
}
.minwidth{
  max-width: 50%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav{
  margin-top:167px;
  width:1024px;
  height:34px;
}
.nav_button{
  height:34px;
  margin:0 auto;
  margin-right:10px;
  float:left;
}
.color-blue{
  color:#72acfe;
}
