<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title" style="margin-top:-10%;width: 90% ;margin-left:4.5% " >
  <img  class="center img" src="assets/images/EMRlogo.png" >
  <div _ngcontent-c93="" class="form-control-group input-group borderbottom " >
      <div class="icon-input"><span class="ms-Icon ms-Icon--Contact icon color-blue" ></span></div>
      <input type="text" placeholder="Tên tài khoản" class="form-control border-0 input " >
  </div>
  <div _ngcontent-c93="" class="form-control-group input-group borderbottom" >
    <div  class="icon-input"><span class="ms-Icon ms-Icon--Lock icon color-blue" ></span></div>
    <input type="text" type="password" placeholder="Mật khẩu" class="form-control border-0  input" >
  </div>
  <button (click)="clickLogin()" class="color-gradient btn-login"  nbButton>Đăng nhập</button>
</form>
<br>
