.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 9px 12px;
    font-size: 13px;
    cursor: pointer;
    margin: 1px;
  }
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(color-bg-active);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }
  nb-card-header{
      padding-bottom: 1px;
      padding-top: 1px;
  }
  .div-center{
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  i{
      font-size: 25px;
  }
  .btn:hover {
    background: #72acf7
  }
  input {
    margin-left: 2%;
  }

  .font-bold {
    font-weight: bold;
  } 
  .font-name-8-3{
    padding :0% ;
    font-weight: bold
  }

  .span-2 {
    
    font-weight: bold;
  }

  .span-1 {
    font-weight: bold;

  }
  .btn-view {
    background: #f84006;
    margin-left: 2%;
    color: #ffffff;
    text-transform: inherit;
    float: right;
    font-weight: bold;
    padding: 2% 4% 2% 4% ;
    border-radius:5px; 
    border: 2px solid #f84006;
  }

  .btn-view:hover {
    color: #f84006;
    background: #ffffff;
    border: 2px solid #f84006;
  }

  .btn-save {
    background: #72accf;
    color: #ffffff;
    text-transform: inherit;
    float: right;
    padding:  2% 4% 2% 4%  ;
    border-radius:5px; 
    font-weight: bold;
    border: 2px solid #72accf;
  }

  .btn-save:hover {
    background: #ffffff;
    color: #72accf;
    border: 2px solid #72accf;

  }

  .btn-pdf {
    background-color: white;
    border: none;
    color: black;
    padding: 9px 12px;
    font-size: 13px;
    cursor: pointer;
    margin: 1px;
    border-radius:5px; 
  }
  .btn-pdf:hover{
    background-color:#72accf;
    color: #ffffff;
  }
  .padding-15{
    padding: 1.5%;
  }
  .padding-05{
    padding: 0.5%;
  }
  .margin-top-2{
    margin-top:2% ; 
    width: 100%
  }
  .color-blue{
    color: #72accf;
  }
  .width-100{
    width:100%;
  }
  .font-12{
    font-size: 120%;
  }
  .w-50{
    width: 10px;
  }
  .name-1{
    width: 29%;padding: 0.5%;
  }
  .name-2{
    padding: 0.5%;margin-left:2.5%;width: 17% ;
  }
  .name-3{
    padding: 0.5%;width: 18%;
  }
  .name-4{
    padding:0.5%;
    width: 15% ;
  }
  .name-5{
    padding:0.5%;width: 40%;
  }
  .name-6{
    padding:0.5%;width: 22%;
  }
  .name-7{
    padding:0.5%;width: 39%;
  }
  .name-8{
    padding:0.5%;width: 15%;
  }
  .name-8-2{
    margin-left:1.5%;
    padding:0.5%; 
    width: 29%;
    max-width:40%;
  }
  .name-8-3{
    padding:0.5%; width: 18%;max-width:40%;
  }
  .name-8-4{
    margin-left:1.5% ; 
    width: 23%;
    max-width:40%;
  }
  .name-9{
    width: 22%;padding:0.5%;
  }
.name-9-2{
  width: 17%;margin-left:1.5%;
}
.input-2{
  padding:0.5%;width: 14%  ;
  height:95%
}
.rd-gt{
  margin-left:1%;
  width: 30%;
  height: 100%;
}
.input-4{
  width: 29%;height: 95%;
}
.input-1{
  width: 27%; 
  height: 95%
}
.input-5{
  width: 58%; 
  height: 95%
}
.input-6{
  width: 76%;max-width:95%; 
  height: 95%
}
.input-7{
  width: 59%;max-width:95%; 
  height: 95%
}
.input-8{
  width: 21%;max-width:40%; 
  height: 95%
} 
.input-8-0{
  width: 22%; 
  height: 95% ;
  padding:0%
}
.input-8-1{ 
  width: 31.5%;
  height: 95%;
  float: right; 
} 
.no-9-textbox-opt{
  width: 27.5%; ;
  height: 10%
}
.max-width{
  width: 100%
} 
.xaphuong-thitran{
  padding:0.5%; width: 29%;
  height: 95%

}  
.input-pdf{
  width: 10%;
  max-width: max-content;
  height: 50%;
  margin: 3% 0px auto 0px;
  padding: 0px 0px 0px 0px ;

}
.span-1-8{
  font-size: 80%;
}
span{
  font-size:95%;
}
textarea{
  margin-top:1% 
}
.margin-top-2{
  margin-top: 2%;
}