<div class="row">
  <div class="col-lg-6">
    <nb-layout>
      <nb-layout-header>
        <h5>TÓM TẮT HỒ SƠ BỆNH ÁN</h5>
      </nb-layout-header>
      <nb-layout-header subheader>
        <div class="row width-100">
          <button class="btn-pdf" (click)="toggleCollapse()"><i class="ms-Icon ms-Icon--DockLeft"></i></button>
          <button (click)="incrementPage(1)" style="margin-left:2% " class="btn-pdf"><i
              class="ms-Icon ms-Icon--Movers"></i></button>
          <input readonly class="input-pdf" type="number" placeholder="Trang" [(ngModel)]="page"
            pattern="-?[0-9]*(\.[0-9]+)?">
          <button (click)="incrementPage(-1)" class=" btn-pdf"><i class="ms-Icon ms-Icon--Sell"></i></button>
          <button (click)="incrementZoom(0.1)" class=" btn-pdf"><i class="ms-Icon ms-Icon--CirclePlus"></i></button>
          <input readonly class="input-pdf" type="number" placeholder="Zoom" [(ngModel)]="zoom"
            pattern="-?[0-9]*(\.[0-9]+)?">
          <button (click)="incrementZoom(-0.1)" class="btn-pdf"><i class="ms-Icon ms-Icon--Blocked2"></i></button>
          <button class="button-1  btn-pdf"><i class="ms-Icon ms-Icon--Download font-12"></i> Tải xuống</button>
        </div>
      </nb-layout-header>
      <nb-layout-column>
        <nb-card>
          <input readonly disabled type="text" placeholder="PDF src" style="background: #ffffff;border:1px solid gray"
            [(ngModel)]="pdfSrc">
          <pdf-viewer [src]="pdfSrc" [(page)]="page" [zoom]="zoom" style="display: block;" [stick-to-page]="stickToPage"
            [show-all]="showAll">
          </pdf-viewer>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>
  <div class="col-lg-6">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header style="color: #72accf">
          <span style="color: #72accf">Thông tin hành chính</span>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div style="padding: 2%">
            <div class='row'>
              <span class=" font-bold name-1 span-1-8">1.Họ và Tên ( in hoa ):</span>
              <input readonly class="input-1" type="text">
              <span class=" font-bold name-2 span-1-8">2.Năm Sinh:</span>
              <input readonly class="input-2" type="text">
            </div>
            <div class='row margin-top-2'>
              <span class=' font-bold name-3 span-1-8'>3.Giới Tính: </span>
              <nb-radio-group>
                  <nb-radio> Nam</nb-radio>
                </nb-radio-group>
                <nb-radio-group>
                  <nb-radio> Nữ</nb-radio>
                </nb-radio-group>
              <span class=' font-bold name-4 span-1-8'>4.Dân Tộc:</span>
              <input readonly class="input-4" type="text" shape="rectangle">
            </div>
            <div class='row margin-top-2'>
              <span class=' font-bold name-5 span-1-8'>5.Mã Số BHXH/Thẻ BHYT Số: </span>
              <input readonly class="input-5" type="text" shape="rectangle">
            </div>
            <div class='row margin-top-2'>
              <span class=' font-bold name-6 span-1-8'>6.Nghề Nghiệp: </span>
              <input readonly class="input-6" type="text" shape="rectangle">
            </div>
            <div class='row margin-top-2'>
              <span class=' font-bold name-7 span-1-8'>7.Cơ quan / Đơn vị công tác: </span>
              <input readonly class="input-7" type="text" shape="rectangle">
            </div>
            <div class='row margin-top-2'>
              <span class=' font-bold name-8 span-1-8'>8. Địa Chỉ:</span>
              <input readonly class="input-8" type="text" shape="rectangle">
              <span class=' font-bold name-8-2 span-1-8'> Xã Phường ,Thị
                Trấn</span>
              <input class="xaphuong-thitran" readonly type="text" shape="rectangle">
            </div>
            <div class='row margin-top-2'>
              <span class=' font-name-8-3 span-1-8'>Huyện(quận)</span>
              <input readonly class="input-8-0" type="text" shape="rectangle">
              <span class='name-8-4 font-bold span-1-8'> Tỉnh,Thành Phố</span>
              <input readonly class="input-8-1" type="text" shape="rectangle">
            </div>
            <div class='row margin-top-2 span-1-8'>
              <span class='name-9  '><span class="font-bold  ">9.Vào Viện </span> ngày</span>
              <input readonly class='no-9-textbox-opt' type="text" shape="rectangle">
              <span class="name-9-2  "><span class="font-bold   ">Ra Viện </span> ngày</span>
              <input readonly class='no-9-textbox-opt' type="text" shape="rectangle">
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header class="color-blue">
          <span class="color-blue">Thông tin điều trị</span>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="margin-top-2">
            <span class='span-2'>10.Chuẩn đoán lúc vào viện*:</span>
            <br>
            <textarea class="max-width" type="text" nbInput fullWidth></textarea>
          </div>
          <div class="margin-top-2">
            <span class='span-2'>11.Chuẩn đoán lúc ra viện*:</span>
            <br>
            <textarea class="max-width" type="text" nbInput fullWidth></textarea>
          </div>
          <div class="margin-top-2">
            <span class='span-2'>12.Tóm tắt bệnh án*:</span>
            <br>
            <textarea class="max-width" type="text" nbInput fullWidth></textarea>
          </div>
          <div class="margin-top-2">
            <span class='span-1'>a)Quá trình bệnh lý và diễn biến lâm sàng*: </span>
            <br>
            <textarea class="max-width" type="text" nbInput fullWidth></textarea>
          </div>
          <div class="margin-top-2">
            <span class='span-1'>b)Tóm tắt kết quả xét nghiệm lâm sàng và giá trị chuẩn đoán*:</span>
            <br>
            <textarea class="max-width" type="text" nbInput fullWidth></textarea>
          </div>
          <div class="margin-top-2">
            <span class='span-1'>c)Phương pháp điều trị*:</span>
            <br>
            <textarea class="max-width" type="text" nbInput fullWidth></textarea>
            <div class="margin-top-2">
              <span class='span-1'>d)Tình trạng người ra viện*:</span>
              <br>
              <textarea class="max-width" type="text" nbInput fullWidth></textarea>
            </div>
            <div class="margin-top-2">
              <span class='span-2'>13.Ghi chú:</span>
              <br>
              <textarea class="max-width" type="text" nbInput fullWidth></textarea>
            </div>
            <div class="margin-top-2">
              <button class="btn-view" (click)="tomtathoso()">Xem</button>
              <button  class="btn-save"  (click)="tomtathoso()">Lưu</button>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>