.margin-left {
    margin-left: 1px;
  }

  .lala {
    padding: -15px 0;
    margin: 0 15px
  }

  nb-select {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px;
  }

  .search {
    height: 90%;
    width: 15%;
    color: darkgray;
    border-radius: 5px;
    border: 2px solid;
    border-color: lightgray;
    margin: auto;
  }

  .nb-card {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px;
  }

  .margin-left {
    margin-left: 1%;

  }

  .lala {
    padding: -15px 0;
    margin: 0 15px
  }

  nb-select {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px;
  }

  .search {
    height: 90%;
    width: 15%;
    color: darkgray;
    border-radius: 5px;
    border: 2px solid;
    border-color: lightgray;
    margin: auto;
  }

  .nb-card {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px;
  }

  .custom-select {
    position: relative;
    font-family: Arial;
  }

  .notification .badge {
    position: absolute;
    top: -4px;
    right: -7px;
    padding: 5px 6.5px;
    border-radius: 50%;
    background: #E52F2F;
    color: white;
  }
  select{
    padding: 1%  1% 1% 1%;
    border:2px solid #dadfe6;
    width: 13%;
    margin-left: 1.5% ;
    border-radius: 0.375rem;
    width: 16%;margin-left: 0.5%
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  .input-search{
    padding-left: 2%;
    width: 48%;
    max-width: 50%;
    border-radius: 5px;
    border: #dadfe6 2px solid;
    background: #ffffff;
    margin-left: 1%;
  }
  option{
    padding-top:2% ;
  }
  