<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
  <div class="col-10">
    <h4 style="padding:1%">DANH SÁCH NGƯỜI DÙNG</h4>
  </div>
  <div class="col-2">
    <button (click)="themnguoidung()" class="btn-them ">+ Thêm mới</button>
  </div>
</div>
<br>
<div class="row" >
  <select>
    <option >NƠI CÔNG TÁC</option>
    <option value="0">Ban giám đốc</option>
    <option value="1">Bác sĩ ngoại trú</option>
    <option value="2">Thu ngân ngoại trú</option>
  </select>
  <select >
    <option >CHỨC DANH</option>
    <option value="1">Đang sử dụng</option>
    <option value="2">Tạm ngưng</option>
  </select>
  <input #search type="text" size="71" placeholder="Tìm kiếm..." name="search"
    (keydown.enter)="onSearch(search.value)" class="input-search">
</div>
<div style="padding-top: 1%">
<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (edit)="chinhsua($event)" >
</ng2-smart-table>
<a>Hiển thị 11 trên 13 hồ sơ</a>
</div>
