input{
    border-width: 1px;
}
nb-card {
    transform: translate3d(0, 0, 0);
  }
  select{
    padding: 1%  1% 1% 1%;
    border:2px solid #dadfe6;
    width: 13%;
    margin-left: 1.5% ;
    border-radius: 0.375rem;
    width: 16%;margin-left: 0.5%
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  .btn-them {
    float: right;
    background: #ffffff;
    color: #72acff;
    padding: 0.625rem 1.125rem;
    border:2px solid #72acff;
    border-radius: 0.375rem;
  }
  .btn-them:hover {
    background: #72acff;
    color: #ffffff;
  }
  .input-search{
    padding-left: 2%;
    width: 65%;
    max-width: 100%;
    border-radius: 5px;
    border: #dadfe6 2px solid;
    background: #ffffff;
    margin-left: 1%;
  }