@import '../../@theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(100vh - 2 * #{$auth-layout-padding});
  }

  .navigation .link {
    text-decoration: none;

    .icon {
      font-size: 2rem;
    }
  }
  background-image{
    width: 100%;
    height: auto;
  }
  .responsive {
    max-width: 100%;
    height: auto;
    
  }
  .border-bottom-0{
    border-bottom-width: 0px;
  }
  nb-card-body {
    display: flex;
    width: 100%;
  }
  #example1 {
    background-image: url(assets/images/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
  }
  

  nb-auth-block {
    margin: auto;
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      border-radius: 0;
      height: 100vh;
    }
  }

  /deep/ {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      padding: $auth-layout-padding;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}
.name-fpt{
  margin-bottom: 0.6%;
  width: 100%;
  text-align: center
}
.text-name-fpt{
  text-align: center;
  font-style: italic;
  color:#ffffff;
}
.padding-0{
  padding: 0px 0px 0px 0px;
}
