<nb-layout>
    <nb-layout-column style="padding: 0%">
      <nb-card id="example1" >
        <nb-card-body>
          <nb-auth-block>
            <router-outlet></router-outlet>
          </nb-auth-block>
        </nb-card-body>
        <div class="name-fpt"><span class="text-name-fpt">{{namecompany}}</span></div>
        </nb-card>
    </nb-layout-column>
  </nb-layout>