.header-card{
  font-size: smaller;
  text-align: center;
  font-weight: bold;
}
.border-header{
  border-block-end: 1px solid;
  border-block-end-color: #CBD0D3;
  padding-top: 4px
}
.second-header-card{
  font-size: smaller;
}
.body-footer{
  font-size: smaller;
  font-weight: bold;
}
.green{
  font-size: small;
  color: #2ba433;
  font-weight: bold;
  padding-left: 10px
}
.blue{
  font-size: small;
  color: #2c89e6;
  font-weight: bold;
  padding-left: 10px
}
.red-bottom{
  text-align: center;
  color: #E52F2F;
  font-weight: bold;
  width: 100%;
}
.blue-bottom{
  font-size: large;
  text-align: center;
  font-weight: bold;
  color:#72ACFF;
  margin: auto;
  width: 100%;
}
.footer-card{
  font-size: small;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px
}
.footer-time{
  font-size: small;
  color: #343638;
  padding-left: 5px;
}
h4{
  text-align: center;
  font-weight: bold;
  margin-bottom: -2 px
}
label{
  font-size: smaller;
}
.card-body{
  margin: 10px;
  border: 1px solid;
  border-color: #CBD0D3
}
.search{
  color: #A6ADB4;
  border-radius: 5px;
  border: 2px solid;
  border-color: #CBD0D3;
  margin: 5px 0;
  margin-left: 10px;
  padding-left: 5px;
  max-width: 25%;
}
img{
  margin: -10px 5px 0 -10px;
  width: 50px;
  height:50px;
}
.col3{
  padding-left: 10px;
  padding-right: 10px
}
nb-select{
  width: 24%;
  margin: 0 2px
}
button{

  color: #72ACFF;
  border-color: #72ACFF;
  padding: 0px;
}
h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.btn_footer{
  height: 100%;margin-left:1%; float: right;
}
button :hover{
  padding: 0px;
  background-color: #72ACFF;
  color: #ffffff;
  border-radius: 3px
}
input{
  border-width: 1px;
  width: 100%;
}
.btn{
  border-color: #72ACFF;
  color:#72ACFF;
  margin: 0 auto;
}

select{
  padding: 1%  1% 1% 1%;
  border:2px solid #dadfe6;
  width: 13%;
  margin-left: 0.5% ;
  border-radius: 0.375rem;
}
select:hover{
  background: #72acff;
  color: #ffffff;
}
option{
  background: #ffffff;
  color: #2a2a2a;

}
.btn {
  padding:2% ;
  padding-left: 3px;
  padding-right: 2px;
  font-size: 13px;
  cursor: pointer;
  margin: 1px;
  border-width:0px;
}
.btn:hover{
  background: #72ACFF;
  color: #ffffff;
}
.input{
  padding-left: 1%;
  margin: 0px 5px;
  width: 33%;
  height: 44px;
  border-radius: 5px;
  border: #72ACFF 1px solid
}

.selected{
  width: 15%;max-width: max-content;
  height: 45px;
}
.count{
  padding-top: 1.5%; font-size:100%
}
.title{
  padding: 10px 0
}
.button-1{
  height: 30px;
}
.icon-1{
  margin-top: -8px;
}
.font-25{
  font-size:250%;
}
