<h5 class="title">DANH SÁCH HỒ SƠ LẬP TÓM TẮT</h5>
<div class="row col-md-12  ">
  <label class="count">TỔNG: 20 kết quả</label>
  <!-- Select-------------------------------------- -->
  <select class="selected">
    <option disabled="disabled">LOẠI ĐIỀU TRỊ</option>
    <option value="null">Tất cả</option>
    <option value="1">Nội trú</option>
    <option value="2">Ngoại trú</option>
    <option value="3">Cấp cứu</option>
  </select>
  <select class="selected">
    <option disabled="disabled">LOẠI BỆNH ÁN</option>
    <option value="null">Tất cả</option>
    <option value="1">Thường</option>
    <option value="2">Tai nạn</option>
    <option value="3">Tử vong</option>
  </select>
  <select class="selected">
    <option disabled="disabled">CHUYÊN KHOA</option>
    <option value="null">Tất cả</option>
    <option value="UB">Bệnh án Ung bướu</option>
    <option value="RHM">Bệnh án răng hàm mặt</option>
    <option value="TMH">Bệnh án tai mũi họng</option>
    <option value="B">Bệnh án bỏng</option>
    <option value="DL">Bệnh án da liễu</option>
    <option value="TK">Bệnh án thần kinh</option>
    <option value="TMH">Bệnh án sơ sinh</option>
    <option value="B">Bệnh án truyền nhiễm</option>
  </select>
  <!-- Tim kiem------------------------------------------------ -->
  <input class="input " #search type="text" size="71" nbInput placeholder="Tìm kiếm..." name="search">
  <!-- //------------------------------------------------------------ -->

  <button (click)="Card()" nbButton class="btn button-1 float-right "><i
      class="ms-Icon icon-1 ms-Icon--ViewAll font-25"></i></button>
  <button (click)="List()" nbButton class="btn button-1 float-right"><i
      class="ms-Icon icon-1 ms-Icon--BulletedList font-25"></i></button>
</div>
<!-- hien thi component list hoac table----------------------------------------- -->
<app-lap-tom-tat-main *ngIf="isCard"></app-lap-tom-tat-main>
<app-lap-tom-tat-list *ngIf="isList"></app-lap-tom-tat-list>