@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
    height:100%;
    width: 80%;
  }
  .left-card{
    // height: -webkit-fill-available;
    height: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .right-card{
    // height: -webkit-fill-available;
    height: 100%;
    width: 100%;
  }
  .btn-user{
    width: 100%;
  }
  .left-list-item{
    margin: -10px 0;
    border-width: 0;
  }
  .search{
    height: 25px;
    width: 100%;
    color: #A6ADB4;
    border-radius: 5px;
    border: 2px solid;
    border-color: #CBD0D3;
    margin: auto;
    padding-left: 5px;
  }
  .header-list{
    padding: 10px;
  }
  .title-list{
    color: #343638;
    font-size: large;
    font-weight: bold
  }
  .title-card{
    color: #343638;
    font-weight: bold;
    font-size: medium;
    margin: 10px;
  }
  .label01{
    color: #343638;
    font-size: medium;
  }
  .btn-demo{
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: #72ACFF;
    color:#343638
  }
  .btn{
    background-color: #72ACFF;
  }
  h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
}
  /deep/ .angular-tree-component {
    cursor: default;

    .node-wrapper {
      .node-content-wrapper {
        background: none;
        box-shadow: none;
        cursor: default;
      }

      .toggle-children-wrapper {
        cursor: pointer;
      }
    }
  }

