<div class="row " style="margin-bottom: -25px;">
  <div class="col-lg-5 ">
      <div class="header-list">
        <label class="title-list">PHÂN NHÓM NGƯỜI DÙNG</label>
        <div class="search">
          <label style="padding-top: 5px; max-width: 90%">{{ value || '-' }}</label>
          <nb-search style="height: 20px; float: right" type="rotate-layout"></nb-search>
        </div>
      </div>
      <div style="height: 83%" class="row">
      <nb-card class="left-card" size="small">
          <div style="padding: 10px 20px 0 20px; font-weight: bold" class="row">
              <label style="width:20%; padding-left: 10px;">Stt</label>
              <label style="width:30%; padding-left: 10px;">Tên truy cập</label>
              <label style="width:40%; padding-left: 10px;">Tên người dùng</label>
            </div>
      <nb-list>
        <nb-list-item class="left-list-item" *ngFor="let user of users">
          <div style="padding-left: 20px;" class="row">
            <label style="width:20%">{{user.stt}}</label>
            <label style="width:30%">{{user.username}}</label>
            <label style="width:40%">{{user.name}}</label>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  </div>
  <div class="col-lg-7 ">
      <br />
      <br />
    <div style="height: 83%; padding: 0 20px" class="row">
        <label style="float: left; width: 40%; margin-left: 0" class="title-card">Chức năng</label>
    <nb-card class="right-card" size="small">
      <nb-card-body>
        <div class="row">
          <label style="float: left; width: 40%;" class="title-card">Chọn</label>
          <label style="float: right;" class="title-card">Tạm ngưng</label>
          <label style="float: right; width: 20%;" class="title-card">Ghi chú</label>
        </div>
        <nb-list-item class="left-list-item" *ngFor="let function of functions">
          <div style="padding-left: 20px;" class="row">
            <nb-checkbox style="float: right; margin-top: -6px" checked status="success"></nb-checkbox>
            <label style="width:43%">{{function.name}}</label>
            <nb-checkbox style="float: right; margin-top: -6px" checked status="success"></nb-checkbox>
            <label style="width:37%; padding-left: 10px">{{function.note}}</label>
          </div>
        </nb-list-item>
      </nb-card-body>
    </nb-card>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
  </div>
  <div class="col-lg-4">
    <button style="float: right; padding: 5px 25px; width: 35%" nbButton  class="btn">Lưu</button>
    <button style="float: right; margin-right: 10px; padding: 5px 25px; width: 35%"
      (click)="openWindow(contentTemplate)" nbButton  class="btn">Sửa</button>
  </div>
</div>


<ng-template #contentTemplate let-data>
  <div style="padding-left: 10px" class="row">
    <label
      style="float: left; width: 40%;color: #343638; font-weight: bold; font-size: medium; margin: 10px;">Chọn</label>
    <label style="float: right;color: #343638; font-weight: bold; font-size: medium; margin: 10px;">Tạm ngưng</label>
    <label style="float: right; width: 20%;color: #343638; font-weight: bold; font-size: medium; margin: 10px;">Ghi
      chú</label>
  </div>
  <nb-card style="box-shadow: none;" class="right-card" size="medium">
    <nb-card-body>
      <nb-list-item class="left-list-item" *ngFor="let function of functions">
        <div style="padding-left: 20px;" class="row">
          <nb-checkbox style="float: right; margin-top: -6px" checked status="success"></nb-checkbox>
          <label style="width:43%">{{function.name}}</label>
          <nb-checkbox style="float: right; margin-top: -6px" checked status="success"></nb-checkbox>
          <label style="width:35%; padding-left: 10px">{{function.note}}</label>
        </div>
      </nb-list-item>
    </nb-card-body>
  </nb-card>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button style="float: right; padding: 5px 25px; width: 40%;background-color: #FFFFFF; border: 2px solid; border-color: #72ACFF; color:#343638" nbButton>Đóng</button>
      <button style="float: right; margin-right: 10px; padding: 5px 25px; width: 40%; background-color: #72ACFF;"
        (click)="openWindow(contentTemplate)" nbButton>Chọn</button>
    </div>
  </div>
</ng-template>
