<h5 class="title">DANH SÁCH HỒ SƠ BỆNH ÁN</h5>
<div class="row  ">
  <label class="count font-w-bold padding-r-1">TỔNG: 20 kết quả </label>
  <select class="selected">
    <option disabled="disabled">LOẠI ĐIỀU TRỊ</option>
    <option value="null">Tất cả</option>
    <option value="1">Nội trú</option>
    <option value="2">Ngoại trú</option>
    <option value="3">Cấp cứu</option>
  </select>
  <select class="selected">
    <option disabled="disabled">LOẠI BỆNH ÁN</option>
    <option value="null">Tất cả</option>
    <option value="1">Thường</option>
    <option value="2">Tai nạn</option>
    <option value="3">Tử vong</option>
  </select>
  <select class="selected">
    <option disabled="disabled">CHUYÊN KHOA</option>
    <option value="null">Tất cả</option>
    <option value="UB">Bệnh án Ung bướu</option>
    <option value="RHM">Bệnh án răng hàm mặt</option>
    <option value="TMH">Bệnh án tai mũi họng</option>
    <option value="B">Bệnh án bỏng</option>
    <option value="DL">Bệnh án da liễu</option>
    <option value="TK">Bệnh án thần kinh</option>
    <option value="TMH">Bệnh án sơ sinh</option>
    <option value="B">Bệnh án truyền nhiễm</option>
  </select>

  <input class="input col-md-4" #search type="text" size="71" nbInput placeholder="Tìm kiếm..." name="search">
    <button (click)="Card()" nbButton class="btn button-1 float-right"><i class="ms-Icon icon-1 ms-Icon--ViewAll font-25"
       ></i></button>
    <button (click)="List()" nbButton class="btn button-1 float-right"><i class="ms-Icon icon-1 ms-Icon--BulletedList font-25"
       ></i></button>
</div>
<app-nghien-cuu-khoa-hoc-main *ngIf="isCard"></app-nghien-cuu-khoa-hoc-main>
<app-nghien-cuu-khoa-hoc-list *ngIf="isList"></app-nghien-cuu-khoa-hoc-list>