<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <h4>THÊM TÀI KHOẢN</h4>
  <div class="padding-2">
    <div class="row">
      <div class="col-25">
        <span for="hoten">Tên truy cập*</span>
      </div>
      <div class="col-75">
        <input id="hoten" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <span for="hoten">Tên người dùng</span>
      </div>
      <div class="col-75">
        <input id="hoten" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <span for="hoten">Mật khẩu*</span>
      </div>
      <div class="col-75">
        <input id="hoten" type="password" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <span for="hoten">Nhập lại mật khẩu*</span>
      </div>
      <div class="col-75">
        <input id="hoten" type="password" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <span for="gt">Gửi thông báo cho người dùng</span>
      </div>
      <div class="col-75 checkbox">
        <nb-checkbox>Gửi Email tài khoản thông báo cho người dùng</nb-checkbox>
      </div>
    </div>
  </div>
  <button class="btn-save">Lưu</button>
</div>