input{
    border-width: 1px;
  
}
.btn-them {
    float: right;
    background: #ffffff;
    color: #72acff;
    border-color: #72acff;
  }

  .btn-them:hover {
    background: #72acff;
    color: #ffffff;
  }
  select{
    padding: 1%  1% 1% 1%;
    border:2px solid #dadfe6;
    width: 13%;
    margin-left: 1.5% ;
    border-radius: 0.375rem;
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  input{
    border: #e4e9f2 2px solid;
    border-radius: 0.25rem;
    padding: 0.4375rem 1.125rem;
  }
  .btn-add{
    background: #ffffff;
    color: #72acff;
    border-color: #72acff;
    float: right;
    width: 150px;
    font-weight:bold;
    border:2px solid #72acff;
    margin-right: 5px;
    padding: 0.625rem 1.125rem;
    border-radius: 0.375rem;
    
  }
  .btn-add:hover {

    background: #72acff;
    color: #ffffff;
    border:2px solid #72acff;

  }
  .input-search{
    padding-left: 2%;
    width: 48%;
    max-width: 100%;
    border-radius: 5px;
    border: #dadfe6 2px solid;
    background: #ffffff;
    margin-left: 1%;
  }
  select{
    padding: 1%  1% 1% 1%;
    border:2px solid #dadfe6;
    width: 13%;
    margin-left: 1.5% ;
    border-radius: 0.375rem;
    width: 16%;margin-left: 0.5%
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  .select-con{
    margin-left: 0%;
  }