h1,
h2,
span,
a,
label,
h3,
h4,
h5 {
  font-family: 'Segoe UI';
  
}
.margin-left {
    margin-left: 10%;
  }
  .btn2{
      text-transform: inherit;
      background: #72acff;
      color: #ffffff;
      padding: 1%;
      text-transform: capitalize;
      float: right;float: right;
      padding:1% 3% 1% 3%;
      margin: 0.5%;
      border-radius:5px;
      font-weight: bold;
      border: 2px solid;
    }
    .btn2:hover{
      color: #72acff;
      background: #ffffff;
      border: 2px solid;
    }
    .btn1{
      text-transform: inherit;
      background: #e52f2f;
      color: #ffffff;
      float: right;
      padding: 1%;
      text-transform: capitalize;
      padding:1% 3% 1% 3%;
      margin: 0.5%;
      border-radius:5px;
      font-weight: bold;
      border: 2px solid;
    }
    .btn1:hover{
      color: #e52f2f;
      background: #ffffff;
      border: 2px solid #e52f2f;
    }
    label, span {
      color: #2a2a2a;
    }
    .input-day{
      margin-left:1%;
      margin-right:1%;
      border: 2px solid #dadfe6;
      margin-top:-1% ;
      width:4%;
      height: 70%;
      max-height: 100%;
      border-radius:20%;
    }
    .padding-top-1-0{
      padding: 1% 0 0 0;
    }
    .name-num-card{
      width: 15%;
      min-width: max-content;
    }
    .text-ld{
      width: 15%;
      max-width: 15%;
      color: #e52f2f;
      font-weight: bold;
    }
.w-3{
  width: 30%;
}   
.w-4{
  width: 40%;
}   
.d-gc{
  width: 100%;
  margin: 1%;
  margin-top:2%;
}
.cont-gc{
  width: 15%;
  max-width: 15%;
}
input{
  border-radius:0.375rem;
  border: 2px solid #dadfe6;
  padding-left:1% ;
  padding: 1% 1% 1% 1%;

}
input:hover{
  border: 2px solid  #72acff;
}
textarea{
  border-radius:0.375rem;
  border: 2px solid #dadfe6;
  padding-left:1% ;
  padding: 1% 1% 1% 1%;

}
textarea:hover{
  border: 2px solid  #72acff;
}
.font-w-bold{
  font-weight: bold;
}
.padding-2{
  padding-right: 2%;
}
.font-w-bold{
  font-weight: bold;
}
.margin-left-2{
  margin-left:2%; 
}
.form-1{
  width: 100%;
  margin: 1%;
}
.text-center{
  text-align: center;
}