<div class="text-center" >
  <h4>THÔNG TIN PHIẾU YÊU CẦU</h4>
</div>
<div style="padding: 2%">
  <div class="padding-top-1-0">
    <label class="name-num-card">Mã phiếu: </label>
    <label class='margin-left font-w-bold'> NCHK 15001900001 </label>
  </div>
  <div class="padding-top-1-0">
    <label class="name-num-card">Loại yêu cầu:</label>
    <label class='margin-left font-w-bold'> NCHK 15001900001 </label>
  </div>
  <div class="padding-top-1-0">
    <label class="name-num-card">Thời gian khai thác:</label>
    <label class='margin-left font-w-bold'> NCHK 15001900001 </label>
  </div>
  <div class="padding-top-1-0">
    <label class="name-num-card">Thời gian tạo yêu cầu:</label>
    <label class='margin-left font-w-bold'> NCHK 15001900001 </label>
  </div>
  <div class="padding-top-1-0">
    <span class="font-w-bold">Danh Sách Hồ Sơ Đã Chọn </span>
    <span style="float: right "><a class="font-w-bold">Tổng cộng</a> có 3 hồ sơ</span>
  </div>
  <br>
  <div class="padding-2">
    <ng2-smart-table  [settings]="settings" [source]="source1" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </div>
  <br />
  <hr>
  <br />
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ------------------------------------------------------------------->
  <!--CODE BEHIND HIỂN THỊ -----------------------------------  -->
  <div>
    <div class='row'>
      <label class="font-w-bold margin-left-2" >Thời gian cho phép khai thác</label>
      <input class="input-day">
      <label> ngày ( kể từ ngày duyệt )</label>
    </div>
    <br>
    <div class="form-1">
      <label class="text-ld">Lý do từ chối<a>*</a></label>
      <input class="w-3" placeholder="Nhập lý do từ chối... ">
    </div>
    <div class="row d-gc">
      <label class="cont-gc">Ghi chú:</label>
      <textarea class="w-4" placeholder="Nhập ghi chú..."></textarea>
    </div>

    <button class="btn2">Duyệt</button>
    <button class="btn1">Từ chối</button>
  </div>
  <!-- END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!------------------------------------------------------------------->
</div>