<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <div class="logo" (click)="goToHome()"><img class="center img-logo" src="assets/images/EMRLogoHead.png"></div>
  </div>
</div>
<nb-list-item class="header-container control-item">
  <a [nbPopover]="templateRef" class="notification">
    <h2 class="font-20"><i class="ms-Icon ms-Icon--Ringer font-w-bold icon-notifi" aria-hidden="true"></i></h2>
    <span class="badge">13</span>
  </a>
  <ng-template #templateRef>
    <nb-card class="card-notifi">
      <nb-list class="list-item-notifi">
        <!-- <ngx-list-notifi  *ngFor="let notifi of NotifiMenu"  title1="{{notifi.title1}}"  title2="{{notifi.title2}}"  title3="{{notifi.title3}}"  maphieu="{{notifi.maphieu}}" thoigian="{{notifi.thoigian}}"  ></ngx-list-notifi> -->
        <nb-list-item (click)="enableDisableRule()" [ngClass]="{'change' : toggle, 'notchange': !toggle}"
          *ngFor="let notifi of NotifiMenu" class="row border-bottom item-notifi">
          <span class="col-md-9 colorBlue"><a>{{notifi.title1}} </a><a class="font-w-bold">{{notifi.title2}}
            </a><a>{{notifi.title3}} </a><br><a style="font-style: italic">Mã phiếu: {{notifi.maphieu}}</a></span>
          <a class="col-md-3 item-h color-gray">{{notifi.thoigian}}</a>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </ng-template>
  <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <nb-action class="float-r" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
    </nb-action>
  </nb-actions>
  <!-- </div> -->