@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
      margin-left: -8px;
      margin-right: 0.01%;
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}
.item-h{
  text-align: right;
  padding-right: -10px;
}
.notification {
  position: relative;
  /* display: inline-block; */
  text-align: center;
  margin-right:15%;
  margin-top: 10%; 
}
.notification:hover {
  height:80%;
  width:auto;
}
.notification .badge {
  position: absolute;
  top: -4px;
  right: -7px;
  padding: 5px 6.5px;
  border-radius: 50%;
  background: #E52F2F;
  color: white; 
}
.notchange {
  background-color: white;
}

.change {
  background-color:  #CBD0D3;
}
.img-logo{
  max-width: 100%;
  min-width: 50%;
  height: auto; 
}
.font-20{
  font-size: 200%;
}
.icon-notifi{
  color: #14375B;
  font-weight: bold;
}
.card-notifi{
  margin-bottom:0px;
  padding:0% 0.1% 2% 0.1%  ;
}
.list-item-notifi{
  height: max-content;
  max-height: 400px;
  border-bottom-width:0 ;
}
.color-gray{
  color: #A6AD84;
}
.item-notifi{
  margin: 0% 0.001px 0% 0.5px;
  padding-bottom: 2%;
}
.float-r{
  float: right;
}
.font-w-bold{
  font-weight: bold;
}