.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

  
.btn-center {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 20px;
}
input{
  width: 100%;
  padding-right: 5px;
  border: 1px solid #dadfe6;

}
label {
  font-size: 16px;
  padding: 12px 12px 12px 0;
  display: inline-block;
  border: none;
}
select {
  width: 20%;
  padding: 16px 20px;
  border-radius: 0.375rem;
  border: 1px solid #dadfe6;
  outline-width: 0.375rem;
  background-color: #FFFFFF;
  padding:0.75rem 1.125rem;
  font-size: 1rem;
  outline-color:  #e4e9f2;
}
.checkbox{
  padding-top: 8px;
}
.container {
position: relative;
width: 20%;
max-width: 400px;
padding: 0;
margin-left: auto;
margin-right: auto;

}

.image {

width: 100%;
height: auto;
border-radius: 50%;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .3s ease;
background-color: #52e5ba;
border-radius: 50%;
}

.container:hover .overlay {
opacity: 1;
}

.icon {
color: white;
font-size: 100px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.fa-user:hover {
color: #eee;
}
.search{
    height: 90%;
    width: 15%;
    color: darkgray;
    border-radius: 5px;
    border: 2px solid;
    border-color: lightgray;
    margin: auto;
  }
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  .margin-left {
    margin-left: 1%;

  }

  .lala {

    padding: -15px 0;
    margin: 0 15px
  }

  nb-select {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px;

  }

  .search {
    height: 90%;
    width: 15%;
    color: darkgray;
    border-radius: 5px;
    border: 2px solid;
    border-color: lightgray;
    margin: auto;
  }

  .nb-card {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px;

  }

  .custom-select {
    position: relative;
    font-family: Arial;
  }

  .notification .badge {
    position: absolute;
    top: -4px;
    right: -7px;
    padding: 5px 6.5px;
    border-radius: 50%;
    background: #E52F2F;
    color: white;
  }
  label{
    font-weight: bold;
  }
  label, span {
    font-size: 16px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    border: none;
    color: #2a2a2a;
  }
  .btn-done{
    background-color:#72acff;
    text-transform: capitalize; 
    color: #FFFFFF;
    float: right;
    margin-top:4%; 
    padding:1% 2% 1% 2%;
    border-radius:5px; 
    border: 2px solid #72acff;
  }
  .btn-done:hover{
    color:#72acff;
    background: #FFFFFF;
    border: 2px solid #72acff;
   
  }
  select{
    padding: 1%  1% 1% auto;
    border:2px solid #dadfe6;
    margin-left: 0.5% ;
    border-radius: 0.375rem;
    margin-right:0px;  
    width: 17%
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  .btn-them {
    float: right;
    background: #ffffff;
    color: #72acff;
    border-color: #72acff;
  }
  .btn-them:hover {
    background: #72acff;
    color: #ffffff;
  }
  input{
    border-radius:0.375rem;
    border: 2px solid #dadfe6;
    padding-left:1% ;

  }
  input:hover{
    border: 2px solid  #72acff;
  }
  textarea{
    border-radius:0.375rem;
    border: 2px solid #dadfe6;
    padding:1% ;
  }
  textarea:hover{
    border: 2px solid  #72acff;
  }
  .input-search{
    padding-left: 2%;
    margin: 0px 5px;
    width: 44.5%;
    max-width: 50%;
    border-radius: 5px;
    border: #dadfe6 2px solid;
    background: #ffffff;
    margin-left: 1%;
  }
  .head-select{
    margin-left:0% 
  }
  .select-type{
    min-width:max-content;
    max-width:max-content;
    margin-left:0.5% ;
    margin-right: 1%;
    padding: 0.2% 0.5% 0.2% 0.5% ;
  }
  .input-date{
    width:5%;
    height: 60%;
    margin-top: 1%;
    border-radius:20% ;
    border:2px solid #dadfe6;
  }
  span{
   font-size:100%; 
  }
  .font-w-bold{
    font-weight:bold ;
  }
  .area-note{
    border: #72ACFF 1px solid;
    padding: 1%;
    width: 100%;
  }
  .node-detail{
    padding-top:5%;padding-bottom:2%;
  }
  .margin-left17{
    margin-left:1.7%;
  }
  .margin-left-05{
    margin-left:0.5%;
  }