<div class="row">
  <div class="col-md-12">
    <div class="margin-left17">
      <h4>Tạo Phiếu Yêu Cầu </h4>
    </div>
    <div style="padding: 2%">
    <div class="row" >
      <div class="margin-left17"><span  class="font-w-bold" >Loại Yêu Cầu</span></div>
        <select class="select-type" >
          <option disabled="disabled" >Chọn</option>
          <option value="1">Nghiên Cứu Khoa Học</option>
          <option value="2">Cập nhật nội dung</option>
          <option value="3">Thẩm định bệnh án </option>
          <option value="4">Tóm tắt bệnh án </option>
        </select>
      <div class='row margin-left-05'>
        <span  class="font-w-bold"  >Thời gian khai thác hồ sơ bệnh án</span>
        <input class="input-date" >
        <span class='lala col-md-1'> Ngày</span>
      </div>
    </div>
    <span class="font-w-bold" >Tìm hồ sơ bệnh án</span>
    <div class="row head-select" >
      <select   >
        <option disabled="disabled" value="0"> LOẠI ĐIỀU TRỊ</option>
        <option value="1"> Nghiên Cứu Khoa Học </option>
        <option value="2">Cập nhật nội dung</option>
        <option value="3">Thẩm định bệnh án </option>
        <option value="4">Tóm tắt bệnh án </option>
      </select>
      <select  >
        <option disabled="disabled" value="0"> LOẠI BỆNH ÁN</option>
        <option value="1"> Nghiên Cứu Khoa Học </option>
        <option value="2">Cập nhật nội dung</option>
        <option value="3">Thẩm định bệnh án </option>
        <option value="4">Tóm tắt bệnh án </option>
      </select>
      <select >
        <option  disabled="disabled" value="0">CHUYÊN KHOA</option>
        <option value="1"> Nghiên Cứu Khoa Học </option>
        <option value="2">Cập nhật nội dung</option>
        <option value="3">Thẩm định bệnh án </option>
        <option value="4">Tóm tắt bệnh án </option>
      </select>
      <input #search type="text" size="71" placeholder="Tìm kiếm..."  name="search"
        (keydown.enter)="onSearch(search.value)" class="input-search" >
    </div>
    <br>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
    <a>Hiển thị 11 trên 13 hồ sơ</a>
    <br>
    <div class="node-detail" >
      <span class="font-w-bold" >Danh sách hồ sơ đã chọn</span><span class="float-right" > <a
          class="font-w-bold">Tổng cộng </a> có 3 hồ sơ</span>
      <ng2-smart-table [settings]="settings" [source]="source1" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
      <a>Hiển thị 11 trên 13 hồ sơ</a>
    </div>
    <span class="font-w-bold">Ghi chú</span>
    <textarea  class="area-note" placeholder="Ghi chú..."></textarea>
    <br>
    <button nbButton (click)="ChiTiet()" class="btn-done">Hoàn tất</button>
  </div>