<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="padding-2" >
  <div>
    <h4>THIẾT LẬP CHÍNH SÁCH MẬT KHẨU</h4>
  </div>
  <div class="padding-4" >
    <div class="row">
      <div class="col-25">
        <label for="hoten">Độ dài tối thiểu</label>
      </div>
      <div class="col-75">
        <input id="hoten" type="number" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="hoten">Số ngày hiệu lực</label>
      </div>
      <div class="col-75">
        <input id="hoten" type="number" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="hoten">Số lần không lặp mật khẩu</label>
      </div>
      <div class="col-75">
        <input id="hoten" type="number" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="hoten">Số ngày nhắc nhở trước khi hết hạn</label>
      </div>
      <div class="col-75">
        <input id="hoten" type="number" fieldSize="medium">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gt">Có chữ in hoa</label>
      </div>
      <div class="col-75">
        <div class="checkbox">
          <nb-checkbox></nb-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gt">Có kí tự số</label>
      </div>
      <div class="col-75">
        <div class="checkbox">
          <nb-checkbox></nb-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gt">Có kí tự đặc biệt</label>
      </div>
      <div class="col-75">
        <div class="checkbox">
          <nb-checkbox></nb-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gt">Thay đổi mật khẩu khi lần đầu đăng nhập</label>
      </div>
      <div class="col-75">
        <div class="checkbox">
          <nb-checkbox></nb-checkbox>
        </div>
      </div>
    </div>
    <button class="btn-save">Lưu</button>
  </div>
</div>
