.header-card{
  font-size: smaller;
  text-align: center;
  font-weight: bold;
}
.border-header{
  border-block-end: 1px solid;
  border-block-end-color: lightgray;
  padding-top: 4px
}
.second-header-card{
  font-size: smaller;
}
.body-footer{
  font-size: smaller;
  font-weight: bold;
}
.green{
  font-size: small;
  color: green;
  font-weight: bold;
  padding-left: 10px
}
.red{
  font-size: small;
  color: red;
  font-weight: bold;
  padding-left: 10px
}
.footer-card{
  font-size: small;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px
}
h4{
  text-align: center;
  font-weight: bold;
  margin-bottom: -2 px
}
label{
  font-size: smaller;
}
.card-body{
  margin: 10px;
  border: 1px solid;
  border-color: lightgray
}
.search{
  height: 90%;
  width: 70%;
  color: darkgray;
  border-radius: 5px;
  border: 2px solid;
  border-color: lightgray;
  margin: auto;
  margin-left:10px;
  padding-left: 5px;
  max-width: 25%
}
img{
  margin: -10px 5px 0 -10px;
  width: 50px;
  height:50px;
}
.col3{
  padding-left: 10px;
  padding-right: 10px
}
nb-select{
  background-color: white;
  color: black;
  width: 24%;
  margin: 0 5px
}

