<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <h3 style="padding: 10px 0">DANH SÁCH HỒ SƠ LẬP TÓM TẮT</h3>
          <div style="height: 30px" class="row">
            <div style="margin-left: 0px; margin-right: -75px; max-width: 65%" class="col-md-8 row ">
              <label style="padding-top: 10px" for="">TỔNG: 26 kết quả</label>
              <nb-select placeholder="LOẠI ĐIỀU TRỊ">
                <nb-option value="1">NỘI TRÚ</nb-option>
                <nb-option value="2">NGOẠI TRÚ</nb-option>
                <nb-option value="3">CẤP CỨU</nb-option>
              </nb-select>
              <nb-select placeholder="LOẠI BỆNH ÁN">
                <nb-option value="UB">UNG BƯỚU</nb-option>
                <nb-option value="RHM">RĂNG HÀM MẶT</nb-option>
                <nb-option value="TMH">TAI MŨI HỌC</nb-option>
                <nb-option value="B">BỎNG</nb-option>
                <nb-option value="DL">DA LIỂU</nb-option>
                <nb-option value="TT">TÂM THẦN</nb-option>
              </nb-select>
              <nb-select placeholder="CHUYÊN KHOA">
                <nb-option value="UB">UNG BƯỚU</nb-option>
                <nb-option value="RHM">RĂNG HÀM MẶT</nb-option>
                <nb-option value="TMH">TAI MŨI HỌC</nb-option>
                <nb-option value="B">BỎNG</nb-option>
                <nb-option value="DL">DA LIỂU</nb-option>
                <nb-option value="TK">THẦN KINH</nb-option>
              </nb-select>
            </div>
            <div class="search">
              <label style="padding-top: 5px; max-width: 90%">{{ value || '-' }}</label>
              <nb-search style="height: 20px; float: right" type="rotate-layout"></nb-search>
            </div>
            <div class="">
              <i style="width: 50px;height: 50px;" class="nb-grid-a-outline"></i>
              <i class="nb-list"></i>
            </div>
          </div>

        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>NỘI KHOA</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="green"> Đã lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>TÂM THẦN</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="green"> Đã lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>NGOẠI KHOA</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="green"> Đã lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>RĂNG HÀM MẶT</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="green"> Đã lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>UNG BƯỚU</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="red">Chưa lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>NHI KHOA</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="red">Chưa lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>BỎNG</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="red">Chưa lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
            <div class="col-md-3 col3">
              <nb-card>
                <nb-card-body class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/logo/logo-card.jpg" alt="">
                    </div>
                    <div class="col-md-10 header-card">
                      <div class="">
                        Sở y tế Thành phố Hồ Chí Minh
                      </div>
                      <div class="">
                        Bệnh viện Đa Khoa FPT
                      </div>
                      <div style="margin: 0 30px" class="border-header text-center"></div>
                    </div>
                  </div>
                  <div style="padding-top: 10px" class="row">
                    <div style="margin-left:-5px" class="col-md-4">
                      <div class="second-header-card">
                        Số lưu trữ
                      </div>
                      <div class="second-header-card">
                        NT.00001
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="second-header-card">
                        Mã BN: 1900003521
                      </div>
                      <div class="second-header-card">
                        Mã bệnh án: 19.000014
                      </div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <br />
                    <h4>BỆNH ÁN</h4>
                    <h4>DA LIỄU</h4>
                    <br />
                    <br />
                  </div>
                  <div style="margin: 0 0 -10px -5px">
                    <div class="body-footer">
                      Ngày vào viện:<label>03/05/2019</label>
                    </div>
                    <div class="body-footer">
                      Ngày ra viện:<label>13/06/2019</label>
                    </div>
                  </div>
                </nb-card-body>
                <div>
                  <div class="red">Chưa lập tóm tắt</div>
                  <div class="footer-card"> 25/5/2019 18:11:02</div>
                </div>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
