
    <nb-card-body>
      <div class="row">
        <div class="col-md-3 col3">
          <nb-card (click)="list()">
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>NỘI KHOA</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="green"> Đã lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
        <div class="col-md-3 col3">
          <nb-card>
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>TÂM THẦN</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="green"> Đã lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
        <div class="col-md-3 col3">
          <nb-card>
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>NGOẠI KHOA</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="green"> Đã lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
        <div class="col-md-3 col3">
          <nb-card>
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>RĂNG HÀM MẶT</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="green"> Đã lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col3">
          <nb-card>
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>UNG BƯỚU</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="red">Chưa lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
        <div class="col-md-3 col3">
          <nb-card>
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>NHI KHOA</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="red">Chưa lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
        <div class="col-md-3 col3">
          <nb-card>
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>BỎNG</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="red">Chưa lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
        <div class="col-md-3 col3">
          <nb-card>
            <nb-card-body class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="../assets/logo/logo-card.jpg" alt="">
                </div>
                <div class="col-md-10 header-card">
                  <div class="">
                    Sở y tế Thành phố Hồ Chí Minh
                  </div>
                  <div class="">
                    Bệnh viện Đa Khoa FPT
                  </div>
                  <div style="margin: 0 30px" class="border-header text-center"></div>
                </div>
              </div>
              <div style="padding-top: 10px" class="row">
                <div style="margin-left:-5px" class="col-md-4">
                  <div class="second-header-card">
                    Số lưu trữ
                  </div>
                  <div class="second-header-card">
                    NT.00001
                  </div>
                </div>
                <div class="col-md-8 text-center">
                  <div class="second-header-card">
                    Mã BN: 1900003521
                  </div>
                  <div class="second-header-card">
                    Mã bệnh án: 19.000014
                  </div>
                </div>
              </div>
              <div>
                <br />
                <br />
                <h4>BỆNH ÁN</h4>
                <h4>DA LIỄU</h4>
                <br />
                <br />
              </div>
              <div style="margin: 0 0 -10px -5px">
                <div class="body-footer">
                  Ngày vào viện:<label>03/05/2019</label>
                </div>
                <div class="body-footer">
                  Ngày ra viện:<label>13/06/2019</label>
                </div>
              </div>
            </nb-card-body>
            <div>
              <div class="red">Chưa lập tóm tắt</div>
              <div class="footer-card"> <span><i style="font-size: 110%;" class="ms-Icon ms-Icon--HourGlass"
                    aria-hidden="true"></i></span> <label class="footer-time">25/5/2019 18:11:02</label></div>
              <div style="font-style: italic" class="footer-card"> Phiên bản: 001</div>
            </div>
          </nb-card>
        </div>
      </div>
    </nb-card-body>

  <div style="width: 100%" class="row">
    <button class="btn" nbButton>
        Xem thêm</button>
  </div>

