@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
    height:100%;
    width: 80%;
  }
  .left-card{
    height: -webkit-fill-available;
    width: 100%;
    // box-shadow: none;
  }
  .right-card{
    // height: -webkit-fill-available;
    height: auto;
    width: 80%;
  }
  .btn-user{
    width: 100%;
    background-color: #ffffff;
    color: #343638;
  }
  nb-list-item :hover {
    background-color: #72ACFF;
    color: #ffffff
  }
  .left-list-item{
    margin: -10px 0;
    border-width: 0;
  }
  .search{
    width: 100%;
    color: #A6ADB4;
    border-radius: 5px;
    border: 2px solid;
    border-color: #CBD0D3;
    margin: auto;
    padding-left: 5px;
  }
  .header-list{
    padding: 10px;
  }
  .title-list{
    color: #343638;
    font-size: large;
    font-weight: bold
  }
  .title-card{
    color: #343638;
    font-weight: bold;
    font-size: medium;
    margin: 10px;
  }
  .label01{
    color: #343638;
    font-size: medium;
  }
  .accordion-item-1{
    width: 100%;
    margin: -5px 0px -12px 0px;
  }
  .accordion-item-accept{
    margin-top: -10px;
  }
  .item-accept{
    width: 88%;
    padding-left: 20px;
  }
  .checkbox-1{
    float: right;
    margin-top: -5px;
  }
  .item-deny{
    width: 88%;
    padding-left: 20px;
  }
  .lb-accordion{
    width: 90%;
    font-weight: bold;
  }
  .accordion-item-deny{
    margin-bottom: -15px;
  }
  .search-1{
    height: 20px; float: right;
  }
  .lb-1{
    padding-top: 5px; max-width: 88%;
  }
  .lb-chucnang{
    float: left; padding-left: 8px;
  }
  .lb-chophep{
    float: right; padding-left: 10px;
  }
}

@include nb-install-component() {

  /deep/ .angular-tree-component {
    cursor: default;

    .node-wrapper {
      .node-content-wrapper {
        background: none;
        box-shadow: none;
        cursor: default;
      }

      .toggle-children-wrapper {
        cursor: pointer;
      }
    }
  }
}
.btn-save{
  background: #72acff;
  color: #ffffff;
  float: right;
  width: 150px;
  font: 20px;
  border:2px solid #72acff;
  margin-right: 5px;
  padding: 0.625rem 1.125rem;
  border-radius: 0.375rem;
  
}
.btn-save:hover {
  color: #72acff;
  background: #ffffff;
  border-color: #72acff;
}
.user-name{
  margin-bottom: -2px;
}
.input-search{
  padding-left: 2%;
  width:100%;
  max-width: 100%;
  border-radius: 5px;
  border: #dadfe6 2px solid;
  background: #ffffff;
  margin: 1% 2% 1% 1%;
  padding: 2% 2% 2% 2%;
}
.margin-top-2{
  margin-top:2%;
}
.padding-L-4{
  padding-left:4%; 
}