<div class="lists row">
  <div class="col-lg-4 ">
    <nb-card class="left-card" size="small">
      <span class="padding-L-4">PHÂN QUYỀN CHỨC NĂNG</span>
      <div class="header-list">
        <input #search type="text" size="71" placeholder="Tìm kiếm..." name="search" class="input-search">
      </div>
      <nb-list>
        <nb-list-item class="left-list-item" *ngFor="let user of users">
          <button class="btn-user" nbButton [name]="user.name">
            <label class="float-left user-name">{{user.name}}</label></button>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-lg-8 ">
    <div style="width: 100%" class="row">
      <br />
      <div class="col-lg-10">
        <label class="lb-chucnang" class="title-card">Chức năng</label>
      </div>
      <label class="lb-chophep" class="title-card">Cho phép</label>
    </div>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Tạo yêu cầu</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accept row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Lịch sử yêu cầu</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accep row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Danh sách yêu cầu chờ duyệt</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accep row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Quản lý yêu cầu</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accep row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Danh sách tài khoản truy cập</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accept row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Danh sách người dùng</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accept row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Danh sách nhóm người dùng</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accept row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Thiết lập chính sách mật khẩu</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accept row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Danh sách chức năng</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accep row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Quản lý truy vết</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accep row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="accordion-item-1 row">
            <label class="lb-accordion">Hệ thống báo cáo</label>
            <nb-checkbox slot="end" class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="accordion-item-accep row">
            <label class="item-accept">Duyệt</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
          <div class="accordion-item-deny row">
            <label class="item-deny">Từ chối</label>
            <nb-checkbox class="checkbox-1"></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <button class="btn-save margin-top-2">Lưu </button>
  </div>
</div>