<!-- <input #search type="text" size="71" nbInput  placeholder="Tìm kiếm..." name="search" (keydown.enter)="onSearch(search.value)"> -->

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (click)="click()">
        </ng2-smart-table>
        <div class="footer-card">Hiển thị 10 trên 20 bệnh án</div>
      </nb-card-body>

