<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h3 style="padding: 10px 0">DANH SÁCH TÓM TẮT BỆNH ÁN</h3>
        <div style="height: 30px" class="row">
          <div style="margin-left: 0px; margin-right: -75px; max-width: 65%" class="col-md-8 row ">
            <label style="padding-top: 10px" for="">TỔNG: 26 kết quả</label>
            <nb-select placeholder="LOẠI ĐIỀU TRỊ">
              <nb-option value="1">NỘI TRÚ</nb-option>
              <nb-option value="2">NGOẠI TRÚ</nb-option>
              <nb-option value="3">CẤP CỨU</nb-option>
            </nb-select>
            <nb-select placeholder="LOẠI BỆNH ÁN">
              <nb-option value="UB">UNG BƯỚU</nb-option>
              <nb-option value="RHM">RĂNG HÀM MẶT</nb-option>
              <nb-option value="TMH">TAI MŨI HỌC</nb-option>
              <nb-option value="B">BỎNG</nb-option>
              <nb-option value="DL">DA LIỂU</nb-option>
              <nb-option value="TT">TÂM THẦN</nb-option>
            </nb-select>
            <nb-select placeholder="CHUYÊN KHOA">
              <nb-option value="UB">UNG BƯỚU</nb-option>
              <nb-option value="RHM">RĂNG HÀM MẶT</nb-option>
              <nb-option value="TMH">TAI MŨI HỌC</nb-option>
              <nb-option value="B">BỎNG</nb-option>
              <nb-option value="DL">DA LIỂU</nb-option>
              <nb-option value="TK">THẦN KINH</nb-option>
            </nb-select>
          </div>
          <div class="search">
            <label style="padding-top: 5px; max-width: 90%">{{ value || '-' }}</label>
            <nb-search style="height: 20px; float: right" type="rotate-layout"></nb-search>
          </div>
          <div class="">
            <i style="width: 50px;height: 50px;" class="nb-grid-a-outline"></i>
            <i class="nb-list"></i>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
