@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-echarts-pie,
  ngx-echarts-bar,
  ngx-echarts-line,
  ngx-echarts-multiple-xaxis,
  ngx-echarts-area-stack,
  ngx-echarts-bar-animation,
  ngx-echarts-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  /deep/ .echart {
    height: 100%;
    width: 100%;
  }
}
.colorOrange {
  color: #F84006;
}

.colorRed {
  color: #E52F2F;
}

.colorGray {
  color: #A6ADB8;
}
.colorBlack {
  color: black;
}

.colorBlue {
  color: #0b539b;
}

h1,
h2,
span,
a,
label,
h3,
h4,
h5 {
  font-family: 'Segoe UI';
  color: #343638;
}

.font-w-bold {
  font-weight: bold;
}

.span-ba {
  font-size: 100%;
  padding-left: 0.5em;
  font-weight: bold;
}
.header-h5{
  color:cornflowerblue;
  font-family: 'Segoe UI';
}
ngx-echarts-bar{
  margin-top:-3%;
}
.text-black{
  counter-reset: black;
}
h5 {
  font-family: 'Segoe UI';
  color: #589fe7;
}
.i-icon-head{
  font-size:300%;
  font-weight: bold;
}
.colorGray {
  color: #a6adb4;
}
.color-gray{
  color: #a6adb4;
}
.font-9{
  font-size: 90%;
}
.font-12{
  font-size: 120%;
}
.font-11{
  font-size: 110%;
}
.font-28{
  font-size: 280%;
}
.font-30{
  font-size: 300%;
}
.padding-L-1{
  padding-left:1%;
}
.margin-px-10{
  margin: 10px;
}
.font-20{
  font-size:200%;
}
.card-head-1{
  height: 200%;max-height: 100%
}
.height-20{
  height: 200%;
  min-height: 200%;
}
.padding-bottom-0i{
  padding-bottom: 0 !important;
}
.margin-top-15{
  margin-top:15px;
}
.height-96{
  height: 96.5%;
}
.margin-25{
  margin-top: 7%;
}
.color-black{
  color: #343638;
}
.padding-3{
  padding: 3%;
}
.padding-5{
  padding: 5%;
}

