<h5 >
  Hôm nay: 11/12/2099
</h5>
<nb-card-body>
  <div class="row">
    <div class="col-md-3">
      <nb-card>
        <nb-card-header class="row border-bottom-0  text-right padding-bottom-0i">
          <div class="col-md-4 icon primary align-text-top margin-25">
            <i class="ms-Icon ms-Icon--Trackers colorOrange i-icon-head"></i>
          </div>
          <div class="col-md-8 float-left"><label><a>Tổng số bệnh án</a><br><span class="font-20">345</span>
              <span class="span-ba">Bệnh án</span></label></div>
        </nb-card-header>
        <div class="icon primary margin-px-10">
          <a class="padding color-gray font-9">
            <span><i class="nb-loop color-gray font-11 font-w-bold"></i></span>
            <span class="padding-L-1 color-gray">Cập nhật lúc: dd/mm/yy</span>
          </a>
        </div>
      </nb-card>
    </div>
    <div class="col-md-3 height-20">
      <nb-card class="card-head-1">
        <nb-card-header class="row border-bottom-0  text-right padding-bottom-0i">
          <div class="col-md-4 icon primary align-text-top margin-25">
            <i class="ms-Icon ms-Icon--ReadingMode colorOrange i-icon-head"></i>
          </div>
          <div class="col-md-8 float-left">
            <label>
              <a>Mở mới</a><br><span class="font-20">232</span>
              <span class="span-ba">Bệnh án</span>
            </label>
          </div>
        </nb-card-header>
        <div class="icon primary margin-px-10">
          <a class="padding color-gray font-9">
            <span><i class="nb-loop colorGray font-11 font-w-bold"></i></span>
            <span class="padding-L-1 color-gray">Cập nhật lúc: dd/mm/yy</span>
          </a>
        </div>
      </nb-card>
    </div>
    <div class="col-md-3">
      <nb-card>
        <nb-card-header class="row border-bottom-0  text-right padding-bottom-0i">
          <div class="col-md-4 icon primary align-text-top margin-25">
            <i class="ms-Icon ms-Icon--Generate colorOrange i-icon-head"></i>
          </div>
          <div class="col-md-8 float-left">
            <label><a>Lưu kho</a><br>
              <span class="font-20">26</span>
              <span class="span-ba">Bệnh án</span>
            </label>
          </div>
        </nb-card-header>
        <div class="icon primary margin-px-10">
          <a class="padding color-gray font-9">
            <span>
              <i class="nb-loop colorGray font-11 font-w-bold"></i>
            </span>
            <span class="padding-L-1 color-gray">Cập nhật lúc: dd/mm/yy</span></a>
        </div>
      </nb-card>
    </div>
    <div class="col-md-3">
      <nb-card>
        <nb-card-header class="row border-bottom-0  text-right padding-bottom-0i">
          <div class="col-md-4 icon primary align-text-top margin-25">
            <i class="ms-Icon ms-Icon--TimeEntry colorOrange i-icon-head"></i>
          </div>
          <div class="col-md-8 float-left">
            <label><a>Đến hạn thanh lý</a><br>
              <span class="font-20">45</span>
              <span class="span-ba">Bệnh án</span>
            </label>
          </div>
        </nb-card-header>
        <div class="icon primary margin-px-10">
          <a class="padding color-gray font-9">
            <span><i class="nb-loop colorGray font-11 font-w-bold"></i></span>
            <span class="padding-L-1 color-gray">Cập nhật lúc: dd/mm/yy</span></a>
        </div>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <nb-card class="height-96">
        <nb-card-header>
          <div class="row">
            <div class="col-md-9">
              <div class="">
                <h5 class="color-black">Yêu cầu chờ duyệt</h5>
              </div>
              <div class="icon primary margin-top-15">
                <a class="font-9 color-gray">
                  <span>
                    <i class="nb-loop color-gray font-w-bold"></i>
                  </span>
                  <span class="color-gray padding-L-1">Cập nhật lúc: dd/mm/yy</span>
                </a>
              </div>
            </div>
            <div class="col-md-3 padding-5">
              <span class="colorRed text-left font-w-bold font-30">65</span>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <br>
          <div class="row font-12">
            <Li class="col-md-9 colorBlue"><span class="colorBlack">Thẩm định bệnh án</span></Li>
            <h4 class="col-md-3 font-w-bold colorBlue text-right">13</h4>
          </div>
          <br>
          <div class="row font-12">
            <li class="col-md-9 colorBlue"><span class="colorBlack">Lập tóm tắt</span></li>
            <h4 class="col-md-3 font-w-bold colorBlue text-right">8</h4>
          </div>
          <br>
          <div class="row font-12">
            <li class="col-md-9 colorBlue"><span class="colorBlack">Nghiên cứu khoa học</span></li>
            <h4 class="col-md-3 font-w-bold colorBlue text-right">32</h4>
          </div>
          <br>
          <div class="row font-12">
            <li class="col-md-9 colorBlue"><span class="colorBlack">Cập nhật nội dung</span></li>
            <h4 class="col-md-3 font-w-bold colorBlue text-right">17</h4>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-md-9">
              <div class="">
                <h5 class="color-black">Thống kê yêu cầu theo ngày</h5>
              </div>
              <div class="icon primary margin-top-15">
                <a class="padding">
                  <span><i class="nb-loop colorGray font-11 font-w-bold"></i></span>
                  <span class="color-gray padding-L-1">Cập nhật lúc: dd/mm/yy</span>
                </a>
              </div>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <!-- BIEU DO SONG-------------------------------------------------------------------- -->
          <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
          <!-- //--------------------------------------------------------------------- -->
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-md-9">
              <div class="">
                <h5 class="color-black">Tổng số lượt truy cập</h5>
              </div>
              <div class="icon primary margin-top-15">
                <a class="font-9 color-gray">
                  <span><i class="nb-loop colorGray font-11 font-w-bold"></i></span>
                  <span class="color-gray padding-L-1">Cập nhật lúc: dd/mm/yy</span>
                </a>
              </div>
            </div>
            <div class="col-md-3 padding-3" >
              <span class="colorRed  font-30 font-w-bold " >720</span>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <!-- Bieu do cot------------------------------------------------------- -->
          <ngx-echarts-bar></ngx-echarts-bar>
          <!-- -------------------------------------------------------------------- -->
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4 ">
      <nb-card class="height-96">
        <nb-card-header>
          <div class="row">
            <div class="col-md-9">
              <div class="">
                <h5 class="color-black font">Nhật ký công việc</h5>
              </div>
              <div class="icon primary margin-top-15">
                <a class="font-9 color-gray">
                  <span><i class="nb-loop color-gray font-11 font-w-bold"></i>
                  </span>
                  <span class="color-gray padding-L-1">Cập nhật lúc: dd/mm/yy</span>
                </a>
              </div>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <br>
          <div class="row font-12">
            <Li class="col-md-8 colorBlue"><span class="colorBlack"> 7 tài khoản tạo mới</span></Li>
            <span class="col-md-4 colorGray ">5 phút</span>
          </div>
          <br>
          <div class="row font-12">
            <Li class="col-md-8 colorBlue"><span class="colorBlack"> 12 yêu cầu đã duyệt</span></Li>
            <span class="col-md-4 colorGray ">49 phút</span>
          </div>
          <br>
          <div class="row font-12">
            <Li class="col-md-8 colorBlue"><span class="colorBlack"> 1 yêu cầu đã từ chối</span></Li>
            <span class="col-md-4 colorGray ">40 phút</span>
          </div>
          <br>
          <div class="row font-12">
            <Li class="col-md-8 colorBlue"><span class="colorBlack"> 18 bệnh án thanh lý</span></Li>
            <span class="col-md-4 colorGray ">18 phút</span>
          </div>
          <br>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</nb-card-body>