<h4>QUẢN LÝ YÊU CẦU </h4>
<div class="row head-select">
  <select class="select-1 ">
    <option disabled="disabled"> LOẠI ĐIỀU TRỊ</option>
    <option value="1"> Nghiên Cứu Khoa Học </option>
    <option value="2">Cập nhật nội dung</option>
    <option value="3">Thẩm định bệnh án </option>
    <option value="4">Tóm tắt bệnh án </option>
  </select>
  <select>
    <option disabled="disabled"> LOẠI BỆNH ÁN</option>
    <option value="1"> Nghiên Cứu Khoa Học </option>
    <option value="2">Cập nhật nội dung</option>
    <option value="3">Thẩm định bệnh án </option>
    <option value="4">Tóm tắt bệnh án </option>
  </select>
  <select>
    <option disabled="disabled">CHUYÊN KHOA</option>
    <option value="1"> Nghiên Cứu Khoa Học </option>
    <option value="2">Cập nhật nội dung</option>
    <option value="3">Thẩm định bệnh án </option>
    <option value="4">Tóm tắt bệnh án </option>
  </select>
  <input #search type="text" size="71" placeholder="Tìm kiếm..." name="search"
    (keydown.enter)="onSearch(search.value)" class="input-search">
  <div class="margin-top-1">
    <ng2-smart-table [settings]="settings" [source]="source" (click)="click()"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
    <a>Hiển thị 11 trên 13 hồ sơ</a>
  </div>