.margin-left{
    margin-left: 2%; 
  }  
  .lala{
    padding: -15px 0;
    margin: 0 15px;
  }
  nb-select  {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px ;
  } 
  .search{
    height: 90%;
    color: darkgray;
    border-radius: 5px;
    border: 2px solid;
    border-color: lightgray;
    margin: auto;
    width: 16%
  }
  .nb-card {
    width: 20%;
    padding: -15px 0;
    margin: -15px 15px ;
  }
  select{
    padding: 1%  1% 1% 1%;
    border:2px solid #dadfe6;
    width: 13%;
    margin-left: 1.5% ;
    border-radius: 0.375rem;
    width: 16%;margin-left: 0.5%
  }
  select:hover{
    background: #72acff;
    color: #ffffff;
  }
  option{
    background: #ffffff;
    color: #2a2a2a;
  
  }
  .select-1{
    margin-left:0px;
  }
  .input-search{
    padding-left: 2%;
    width: 49.5%;
    max-width: 100%;
    border-radius: 5px;
    border: #dadfe6 2px solid;
    background: #ffffff;
    margin-left: 1%;
  }
  .margin-top-1{
    margin-top:1% ;
  }
  .margin-2{
    margin: 2%;
  }
  .head-select{
    padding:2% ;
  }
  .btn-them {
    float: right;
    background: #ffffff;
    color: #72acff;
    border-color: #72acff;
  }
  .btn-them:hover {
    background: #72acff;
    color: #ffffff;
  }
  